{% load static %}
<footer id='footer' class="footer-grid">
    <div id='espacio'>
    </div>
    <div style="background-image: url({% static 'img/nda2.png' %});">
    </div>
    <div>
      <p>Mapa del Sitio</p>
        <ul>
            <li><a href="{% url 'index' %}">Inicio</a></li>
            <li><a href="{% url 'sobreNosotros' %}">Sobre Nosotros</a></li>
            <li><a href="{% url 'proyectosPublicos' %}">Experiencia Pública</a></li>
            <li><a href="{% url 'proyectosPrivados' %}">Experiencia Privada</a></li>
            <li><a href="javascript:showLightbox();">Contacto</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'busqueda_contratos' %}">Intranet</a></li>
            {% else %}
                <li><a href="javascript:showLightboxLogin();">Intranet</a></li>
            {% endif %}
        </ul>
    </div>
    <div id="contacto-footer">
        <p>Contacto</p>
        <ul>
            <li><i class="fas fa-globe"></i></i>  Dirección</li>
            <li><i class="fas fa-envelope"></i>  correondam@gmail.com</li>
            <li><i class="fas fa-phone-square"></i> Teléfono</li>
        </ul>
    </div> 

    <div class="footer-ul">
        <p>Nuestras redes</p>
        <ul>
            <li><a href=""><i class="fab fa-instagram"></i></a></li>
            <li><a href=""><i class="fab fa-facebook-square"></i></a></li>
            <li><a href=""><i class="fab fa-twitter-square"></i></a></li>
        </ul>
    </div>

    <div id='sub-footer'>
        NDAM Constructora Copyright 2018   
    </div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
</footer>
