    {% load static %}

<header id="header" class="">
    <a href="{% url 'index' %}" alt="logo.png"><div id="logo1"><img src="{% static 'img/nda1.png' %}" alt="" width="400px"></div></a>
    <div id="headermenu"></div>
    <div id="redesheader"></div>
    <a href="{% url 'login' %}"><div id="intranetheader"><h5>INTRANET</h5></div></a>

</header>


<!-- /header -->
<!--     <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'img/NDA2.png' %}" alt="" width="100px"></a>
      <div class="collapse navbar-collapse" id="navbarCollapse" >
      <div class=" my-2 my-sm-0 ">
        <ul class="navbar-nav mr-auto" >
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'index' %}">Inicio <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'sobreNosotros' %}">Sobre Nosotros</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link " href="{% url 'proyectosPublicos' %}">Experiencia Publica</a>
          </li>
           <li class="nav-item active">
            <a class="nav-link " href="{% url 'proyectosPrivados' %}">Experiencia Privada</a>
          </li>
           <li class="nav-item active">
            <a class="nav-link " href="{% url 'contacto' %}">Contacto</a>
          </li>
           <li class="nav-item active">
            <a class="nav-link " href="{% url 'login' %}">Intranet</a>
          </li>
        </ul>
      </div>
      </div>
    </nav>

 -->