    {% load static %}

<header id="header" class="header-grid">
    <div style="background-image: url({% static 'img/nda1.png' %})">
    </div>
    <div>
        <a href="{% url 'index' %}">INICIO</a>
    </div>

    <div>
      <a href="{% url 'sobreNosotros' %}">SOBRE NOSOTROS</a>
    </div>
    
    <div id='experiencia-header'>
      EXPERIENCIA
      <ul>
      <a href="{% url 'proyectosPublicos' %}">
        <li>
          <div id='header-epublica' style="padding-top: 0px;"><p>PÚBLICA</p></div>
        </li>
      </a>
      <a href="{% url 'proyectosPrivados' %}">
        <li>
          <div id='header-eprivada' style="padding-top: 0px;"><p>PRIVADA</p></div>
        </li>
      </a>
      </ul>
    </div>
    <div>
      <a href="javascript:showLightbox();">CONTACTO</a>
    </div>
    <div id="redes-header">
      <ul>
        <a href=""><li><i class="fab fa-instagram"></i></li></a>
        <a href=""><li><i class="fab fa-facebook-square"></i></li></a>
        <a href=""><li><i class="fab fa-twitter-square"></i></li></a>
      </ul>
    </div>
      <div id="intranet">
        {% if user.is_authenticated %}
          <a href="{% url 'busqueda_contratos' %}"><p>INTRANET</p></a>
        {% else %}
          <a href="javascript:showLightboxLogin();"><p>INTRANET</p></a> 
        {% endif %}
      </div>
    
</header>





  