*{
	margin:0px;
	border:0px;
	padding:0px;
}

#contenedor{
	background: #31333C;
	height: 1050px;
	margin-right: auto;
	margin-left: auto;


}

body{
	background: #31333C;

}

header, #banner{
	background: #31333C;
	height: 100px;
	color: white;
}

#banner{
	height: 620px;
	background: grey;
}

#proyectosenventa{
	height: 540px;
	background-color: #31333C;

}

footer{
	height: 290px;
	background-color: #31333C;
}

#logo3{
	height: 520px;
	width: 310px;
	float: left;
	margin-right: 25px;
}

#proyectos{
	height: 540px;
	position: absolute;
	margin-top:-35px;

}

#proyecto1 {
	background: #FFFFFF;
	float: right;
	width: 285px;
	height: 520px;
	display: inline-block;
	margin-right: 120px;
}

#proyecto2{
	background: #FFFFFF;
	float: right;
	width: 285px;
	height: 520px;
	display: inline-block;
	margin-right: 20px;
}

#proyecto3{
	background: #FFFFFF;
	float: right;
	width: 285px;
	height: 520px;
	display: inline-block;
	margin-right: 20px;
}

#subfooter{
	margin-right: 120px;
	margin-left: 120px;
	margin-top: 0px;
	height: 225px;
	background-color: #31333C;
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
}

#subfooter2{
	margin-right: 120px;
	margin-left: 120px;
	margin-top: 0px;
	height: 65px;
	background-color: #31333C;
}

footer p{
	text-align: center;
    padding-top: 25px;
    color: white;
}

#logo1{
	background-color: #31333C;
	width: 400px;
	height: 100px; 
	float: left;
}

#headermenu{
	height: 100px;
	background-color: #31333C;
	width: 535px;
	float: left;
}

#redesheader{
	height: 100px;
	background-color: #31333C;
	width: 190px;	
	float: left;
}

#intranetheader{
	width: 110px;
	background-color: #98A4A2;
	height: 35px;
	margin-bottom: 0px;
	float: left;
	margin-top: 65px;
}

#intranetheader h5{
	color: white;
	text-align: center;
	margin-top: 10px;
	  font-family: 'Raleway', medium;
      font-weight: bold;
}

#logo2{
	width: 310px;
	height: 225px;
} 

header ul{
	list-style:none;
	overflow: hidden;
}

header li{
  display: block;
  padding: .9em;
  text-decoration: none;
  float: left;
  font-size: 15px;
  margin-top: 25px;
  font-family: 'Raleway', medium;
      font-weight: bold;
}
#redesheader li{
  display: block;
  padding: .9em;
  text-decoration: none;
  float: left;
  font-size: 15px;
  margin-top: 22px;
  width: 4%;
}
header a{
	color: white;
}