/* Core Styles */
{% load static %}

body{
  background: #383839;
  font-family: 'Raleway', sans-serif;

  --azul : #01A9DB;
  --naranja :#FF8000;
  --gris-oscuro:#353537;
  --gris-claro:#A4A4A4;
  --blanco-oscuro:#F2F2F2;
  --blanco-claro:#FFFFFF;
  opacity: 1;

}

a {
outline: none;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }




/* Header */
.header-grid{
  display: grid;
  grid-template-columns: repeat(1,minmax(300px,auto)) repeat(auto-fit, minmax(50px,auto));
  grid-template-rows: 100px; 
  grid-auto-rows: 100px;
  color: #FFF;
}

.header-grid div{
  font-weight: bold;
  background-color: #383839;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100%;
  font-size: 0.9em;
  padding-top: 40px;
}


#header a:hover{
  color: var(--azul);
}
#experiencia-header:hover{
 color: var(--azul); 
}

.header-grid li{
  font-size: 2em;
  padding: 0.1em;
  list-style: none;
  display: inline-block;
}

#header a{
  text-decoration: none;
  color: #FFF;
}
#header{
    border-bottom: 0.5px solid white;

}


#redes-header{
  padding-top: 10%;
}

#intranet p{
  background: #A4A2A0;
  width: 8em;
  height: 30px;
  text-align: center;
  padding-top: 10%;
}

#intranet p:hover{
  background: var(--blanco-claro);
  color: var(--gris-oscuro);
}





/* Contacto */

#fade{
  grid-column: 1 / -1;
  height: calc(100vh - 100px);
  width: 100%;
  background-color: rgba(53,53,55,0.8);
  position: absolute;
  z-index: 1224233;
  margin-top: 100px;
  display: grid;
  grid-template-columns: 0.2fr 0.6fr 0.2fr;
  grid-template-rows: 0.2fr 0.6fr 0.2fr;
  display: none;
}

#contacto{
  grid-column: 2 / 3;
  grid-row:  2 / 3;
  background-color: rgba(53,53,55,1) ;
  opacity: initial;
  display: grid;
  position: relative;
  grid-template-columns: 0.4fr 0.6fr;
}
#contacto-logo{
  background-repeat: no-repeat;
  background-size: 90%;
}

#contacto input[type=text]{
  width: 80%;
}
#contacto input[type=number]{
  width: 80%;
}
#contacto input[type=email]{
  width: 80%;
}

#contacto button{
  color: var(--blanco-claro);
  background-color: var(--azul);
  border: 1px solid var(--azul);
  cursor: pointer;
  height: 30px;
  text-decoration: none;
  margin:0px;
  margin-left: 292px;
}

#contacto button:hover{
  color: var(--gris-oscuro);
  background: var(--blanco-claro);
  border: 1px solid var(--blanco-claro);
}

#textarea{
  width: 80%;
  height: 80px;
  margin-left: 1px;
}
#contacto ul{
  margin-top: 30px;
}
#contacto li{
  list-style: none;
  padding: 2px;
}



#cerrar-contacto{
  position: absolute;
  top: 0px;
  right: 0px;
}
#cerrar-contacto img{
  width: 40px;
}

@media screen and (max-width: 1200px){
  #fade{
  grid-column: 1 / -1;
  height: calc(100vh - 100px);
  width: 100%;
  background-color: rgba(53,53,55,0.8);
  position: absolute;
  z-index: 1224233;
  margin-top: 400px;
  display: grid;
  grid-template-columns: 10px 1fr 10px;
  grid-template-rows: 0.2fr 0.6fr 0.2fr;
  display: none;
}
}

@media screen and (max-width: 600px){
    #fade{
      grid-column: 1 / -1;
      height: auto;
      width: 100%;
      background-color: rgba(53,53,55,0.8);
      position: absolute;
      z-index: 1224233;
      margin-top: 400px;
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: 100px auto 100px;
      display: none;
    }

    #contacto{
      grid-column: 1 / -1;
      grid-row:  2 / 3;
      background-color: rgba(53,53,55,1) ;
      opacity: initial;
      display: grid;
      position: relative;
      grid-template-rows: 100vw auto;
      padding-bottom: 20px;
    }
    #contacto-logo{
      grid-column: 1 / -1;
      grid-row: 1 / 2;
      background-repeat: no-repeat;
      background-size: 90%;
    }

    #cerrar-contacto{
      position: absolute;
      top: 0px;
      right: 10px;
    }

    #contacto input[type=text]{
      width: 80vw;
    }
    #contacto input[type=number]{
      width: 80vw;
    }
    #contacto input[type=email]{
      width: 80vw;
    }
    #textarea{
      width: 80vw;
    }


}




/* Intranet */
#fade-login{
  grid-column: 1 / -1;
  height: calc(100vh - 100px);
  width: 100%;
  background-color: rgba(53,53,55,0.8) ;
  position: absolute;
  z-index: 1224233;
  margin-top: 100px;
  display: grid;
  grid-template-columns: 0.7fr 0.2fr 0.1fr;
  grid-template-rows: 50px 0.7fr ;
  display: none;
}

#login{
  grid-column: 2 / 3;
  grid-row:  2 / 3;
  background-color: rgba(53,53,55,1.0);
}
#login ul{
  margin-top: 40px;
}
#login li{
  list-style: none;
  padding-bottom: 20px;
}
#btn-login{
  background-color: var(--azul);
  border: 1px solid var(--azul);;
  color: var(--blanco-claro);
  height: 30px;
  margin-left: 60%;
}

#btn-login:hover{
  color: var(--gris-oscuro);
  background: var(--blanco-claro);
  border: 1px solid var(--blanco-claro);
}

#cerrar-login{
  width: 40px;
  position: absolute;
  top:50px;
  right: 10%;
}

#img-login{
  width: 50%;
  margin-left: 10%;
  margin-top: 20%;
}


@media screen and (max-width: 1200px){
    #fade-login{
      grid-column: 1 / -1;
      height: auto;
      width: 100%;
      background-color: rgba(53,53,55,0.8) ;
      position: absolute;
      z-index: 1224233;
      margin-top: 400px;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 100px auto 100px ;
      display: none;
    }

    #login{
      grid-column: 1 / -1;
      grid-row:  2 / 3;
      background-color: rgba(53,53,55,1.0);
      padding-bottom: 30px;
    }
    #login ul{
      margin-top: 40px;
    }
    #login li{
      list-style: none;
      padding-bottom: 20px;
    }
    #btn-login{
      background-color: var(--azul);
      color: var(--blanco-claro);
      height: 30px;
      margin-left: 60%;
    }
    #cerrar-login{
      width: 40px;
      position: absolute;
      top:100px;
      right: 2%;
    }

    #img-login{
      width: 50%;
      margin-left: 10%;
      margin-top: 20%;
    }

    #id_username{
      width: 90%;
    }
    #id_password{
      width: 90%;
    }



}




/* Footer */
#footer{
  grid-columns: 1 / -1; 
  padding-left: 10%;
  padding-right: 10%;
}
  #footer a{
    text-decoration: none;
    color: var(--blanco-claro);
  }

    #footer div a:hover{
    color: var(--azul);
  }


.footer-grid{
  display: grid;
  grid-template-columns: repeat(4,minmax(250px,auto));
  grid-template-rows: 60px  230px 60px;

}


#espacio{
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  border-bottom: 1px solid white;
}
#sub-footer{
  grid-column: 1 / -1;
  grid-row: 3 / 4;
  border-top: 1px solid white;
  text-align: center;
  padding-top: 20px;
}

.footer-grid div{
  background-color: #383839;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: white;
}

.footer-grid p{
  padding-top: 20px;
  font-weight: bold;
}
.footer-grid ul li{
  list-style: none;
  padding: -3px;
  margin-left: -40px;
}
  .footer-ul li{
      float: left;
      padding-right: 50px;
      font-size: 2.5em;
  }

@media screen and (max-width: 1200px){
#footer{
  grid-columns: 1 / -1; 
  padding-left: 10%;
  padding-right: 10%;
}
  #footer a{
    text-decoration: none;
    color: var(--blanco-claro);
  }

    #footer div a:hover{
    color: var(--azul);
  }


.footer-grid{
  display: grid;
  grid-template-columns: repeat(2,50%);
  grid-template-rows: 60px  230px 230px 60px;

}


#espacio{
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  border-bottom: 1px solid white;
}
#sub-footer{
  grid-column: 1 / -1;
  grid-row: 4 / 5;
  border-top: 1px solid white;
  text-align: center;
  padding-top: 20px;
}

.footer-grid div{
  background-color: #383839;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: white;
}

.footer-grid p{
  padding-top: 20px;
  font-weight: bold;
  padding-left: 25%;
}
.footer-grid ul li{
  list-style: none;
  padding: -3px;
  margin-left: 20%;
}


.footer-ul li{
    display: inline-block;
    margin-left: 0px;
    margin-right: 0px;
    font-size: 2em;
    list-style-type: none;
    padding:0px;
}

}


@media screen and (max-width: 600px){
  .header-grid{
    display: grid;
    grid-template-columns: repeat(1,minmax(300px,auto)) ;
    grid-template-rows: 100px repeat(6,minmax(50px,auto)); 
    grid-gap: 2px;
    grid-auto-rows: minmax(50px,auto);
  }
  #header div{
    text-align: center;
  }

  .footer-grid{
    display: grid;
    grid-template-columns: repeat(1,minmax(300px,auto));
    grid-gap:2px;
    grid-template-rows: 60px repeat(4,minmax(200px,auto)) 60px;
  }
  #footer{
    padding-left: 0px;
    padding-right: 0px;
  }


  #sub-footer{
  grid-column: 1 / -1;
  grid-row: 6 / 7;
  }
 
  .header-grid li{
    margin-left: 3%;
    margin-right: 10%;
  }



  #intranet{
    background: var(--gris-claro);
    text-align: center;
    padding-top: 10%;
  }
  #intranet p{
    width: 100%;
    height: 30px;
    text-align: center;
    padding-top: 0%;
  }
  #experiencia-header:hover ul li {
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
  }

  .footer-grid ul li{
      list-style: none;
      padding: -3px;
      margin-left: 20%;
    }

    .footer-ul li{
      /*display: inline-block;}*/
      padding-right: 20px;
      padding-left:  0px;
      font-size: 2em;
      padding: 0;
      float: left;
    }

    .footer-ul{
      margin-left: -50px;
    }
    .footer-ul p {
      padding-left: 50px;
    }

  .footer-grid p{
      padding-top:0px;
      font-weight: bold;
      text-align: center;
      width: 100%;
      margin-left: -20%;
    }
    
}


/*Home*/

.btn-banner-slide{
    background-color: var(--azul);
    color: var(--blanco-claro);
    border: 1px solid var(--azul);
    padding: 8px 16px 8px 16px;
}
.btn-banner-slide:hover{
    background-color: var(--gris-claro);
    color: var(--blanco-claro); 
    border: 1px solid var(--gris-claro);
}


#banner{
  grid-column: 1/-1;
  grid-row: 1 /2 ;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: minmax(300px, 90vh );
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
}
#home-banner{
  position: relative;
}
#home-banner div{
  color: var(--blanco-claro);
  position: absolute;
  top: 60%;
  left: 30%;
  border: 2px solid var(--blanco-claro);
  padding: 1px 15px 1px 15px;
  font-weight: bold;
  height: 40px;
  text-align: center;
}
#home-banner div p{
  margin-top: 6px;
}

#home-banner a{
  text-decoration: none;
 }
#home-banner div:hover{
  background-color: var(--blanco-claro);
  color: var(--gris-oscuro);
 }

.text-banner{
  position: absolute;
  z-index: 23;
  transform: 10% 50%;
  margin-top: -35%;
  left: 10%
}
.text-banner{
  width: 30%;
  height: 20%;
}

.btn-banner{
  position: absolute;
  width: 4%;
}

#btnL{
  margin-top: 48%;
}
#btnL:hover{
  content: url({% static 'img/bannerL2.png' %});
}

#btnR{
  margin-top: 48%;
  right: 0px;
}
#vm-banner{
  position: absolute;
  border: 1px solid white;
  color: white;
  width: 100px;
  text-align: center;
  height: 30px;
  padding-top: 10px;
  margin-left: 30%;
  margin-top: 60%;
}

#vm-banner a{
  text-decoration: none;
  color: var(--blanco-claro);
}
#vm-banner:hover {
  background: var(--blanco-claro);
  color: var(--gris-oscuro);
}

#vm-banner:hover a{
  color: var(--gris-oscuro);
}


#projects{
  grid-column: 1 /-1;
    padding-right: 10%;
}

#logo3-home{
  margin-top: -30px;
  width: 100%;
}

.project-btn a{
  text-decoration: none;
  color: var(--blanco-claro);
}



.projects-grid{
  display: grid;
  grid-template-columns: minmax(280px,auto) repeat(3,minmax(250px,auto));
  grid-template-row: minmax(500px,auto);
  /*grid-auto-rows: 500px;*/
  grid-gap: 50px;
}

.projects-item{
  margin-top: -30px;
}

.projects-item img{
  width: 100%;
}

#projects div{
  background-color: white;
  position: relative;
}

#projects div div{
  background-color: #349CD1;
  color: white;
  height: 40px;
  width: 130px;
  position: absolute;
  bottom:15px;
  right:20px;
}


#projects div div:hover{
  color: var(--blanco-oscuro);
  background: var(--gris-claro);
}
#projects div div:hover a{
  color: var(--blanco-oscuro);
}

#projects div div p{
  font-size: 0.9em;
  font-weight: bold;
  text-align: center;
  margin-top:10px;
}

#projects h3{
  margin: 30px;
  font-weight: bold;
  font-size: 1.5em;
}
#projects p{
  margin: 30px;
  font-size: 0.85em;
    padding-bottom: 50px;

}
  .description-project{
    font-size: 1.2em;
  }

@media screen and (max-width: 1200px) {
  .projects-grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50vw repeat(3,50vw);
    grid-auto-rows: 50vw;
    grid-gap: 10px;
  }

  #logo3-home{
    margin-top: 5%;
    margin-right: 10%;
    margin-bottom: 5%;
    width: 40%;
    height: 75%;
  }

  .projects-item{
    margin-top: 0px;
  }

  .projects-item img{
    width: 50vw;
  }
#projects{
  padding-right: 0px;
}

#projects h3{
  margin: 30px;
  font-weight: bold;
  position: absolute;
  left: 55%;
  top: 5%;
  font-size: 1.5em;
}
#projects p{
  margin: 30px;
  font-size: 0.8em;
  padding-bottom: 50px;
  position: absolute;
  left: 55%;
  top: 20%;
  width: 35%;
}

#projects div div p{
  font-size: 0.9em;
  font-weight: bold;
  text-align: left;
  margin-top:0px;
  margin-left: 0px;
  padding-bottom: 0px;
  width: 150px;
  margin-left: -40px;
}
  
}




@media screen and (max-width: 600px) {
  .projects-grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100vw repeat(3,auto);
    grid-gap: 10px;
  }

  .text-banner{
    position: absolute;
    z-index: 23;
    transform: 10% 50%;
    margin-top: -35%;
    left: 15%
  }
  .projects-item img{
    width: 100%;
  }


  #projects div div p{
    font-size: 1em;
    font-weight: bold;
    text-align: left;
    margin-top:10px;
    margin-left: 0px;
    padding-bottom: 0px;
    width: 150px;
    margin-left: 30px;
  }




  #projects h3{
    margin: 30px;
    font-weight: bold;
    font-size: 1.5em;
    position: static;
  }
  #projects p{
    margin: 30px;
    font-size: 1em;
      padding-bottom: 50px;
      position: static;
      width: 80%
  }

  #logo3-home{
    margin-top: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    width: 80%;
    height: 80%;
  }

  #projects{
  grid-column: 1 /-1;
  padding-right: 0px;
  margin-right: 0px;

  }
  .projects-item{
    margin-top: 0px;
  }
  #fondo-banner{
    height: 300px;
  }
  #texto-banner{
    margin-top: 100px;
    height: 100px;
    width: 40%;
    margin-left: 60px;
  }
  .btn-banner{
  position: absolute;
  width: 10%;
  }
  #btnL{
    margin-top: 45%;

  }
  #btnR{
    margin-top: 45%;
    right: 0px;
  }
  #vm-banner{
    margin-top: 70%;
  }

}

/* Sobre Nosotros*/

#banner-sobrenosotros{
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns:4fr 6fr;
  grid-gap: 2px;
  grid-auto-rows: 430px;
}
#banner-sobrenosotros div{
  background: #383839;
}

#descripcion-sobrenosotros{
  grid-column: 1 / -1;
  display: grid;
  grid-template-rows: 240px;
  grid-template-columns: 1fr;
  background-color: white;
  padding-bottom: 5%;
}
#mision-vision{
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 340px;
  grid-auto-rows: 340px;
}



#banner-sobrenosotros img{
    width:60%;
    margin-left: 30%;
    margin-top: 10%;
}

#sn-video{
  padding-top: 15%;
  height:85%;
}

#descripcion-sobrenosotros p{
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 5%;
}
#mision-vision{
  position: relative;
}
#mision{
  background: #383839;
}
#mision img{
  margin-top: -20px;
  width: 49%;
}
#mision p{
  color: white;
  font-size: 0.9em;
  margin-top: -23%;
  margin-left: 28%;
  margin-right: 10%;
}
#vision{
  background: #349CD1;
}

#vision img{
  height: 10%;
  margin-top: 7%;
  margin-left: 10%;
}
#vision p{
  color: white;
  font-size: 0.9em;
  margin-top: 48px;
  margin-left: 10%;
  margin-right: 20%;
}


@media screen and (max-width: 1200px) {
  #banner-sobrenosotros{
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 2px;
    grid-auto-rows: auto;
  }
  #mision-vision{
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(auto,80vh) auto;
    grid-auto-rows: auto;
    grid-gap: 5px;
  }
  #banner-sobrenosotros img{
    width:80%;
    margin-left: 10%;
    margin-top: 10%;
  }
  #descripcion-sobrenosotros{
    grid-column: 1 / -1;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    background-color: white;
  }
  #descripcion-sobrenosotros p{
    padding-left: 10%;
    padding-right: 10%;
    font-size: 0.8em;
    padding-top: 10%;
    margin-bottom: 30px;
  }
  #sn-video{
    width: 100%;
  }
  #mision img{
    height: 95%;
    margin-top: 0px;
  }
  #mision p{
    color: white;
    margin-top: -20%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 30px;

  }
  #vision p{
    color: white;
    font-size: 0.9em;
    margin-top: 15px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 30px;
  }
}




@media screen and (max-width: 600px) {
  #banner-sobrenosotros{
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows: auto 500px;
    grid-gap: 2px;
    grid-auto-rows: 500px;
  }
  #mision-vision{
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-auto-rows: auto;
    grid-gap: 5px;
  }
  #banner-sobrenosotros img{
    width:80%;
    margin-left: 10%;
    margin-top: 10%;
  }
  #descripcion-sobrenosotros{
    grid-column: 1 / -1;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    background-color: white;
  }
  #descripcion-sobrenosotros p{
    padding-left: 10%;
    padding-right: 10%;
    font-size: 0.8em;
    padding-top: 10%;
    margin-bottom: 30px;
  }
  #sn-video{
    width: 100%;
  }
  #mision img{
    width: 100%;
    margin-top: -20px;
  }
  #mision p{
    color: white;
    font-size: 0.9em;
    margin-top: -50%;
    margin-left: 10%;
    margin-right: 10%;
  }
  #vision p{
    color: white;
    font-size: 0.9em;
    margin-top: 15px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 30px;
  }
}




/* Experiencia privada*/


#banner-eprivada{
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns:0.32fr 0.68fr;
  grid-template-rows: minmax(520px,auto);
  grid-gap: 2px;
  grid-auto-rows: 465px;
  position: relative;
}
#banner-eprivada div{
  background: var(--gris-oscuro);
  background-repeat: no-repeat;
  background-size: cover;
}

#banner-eprivada p{
  color: var(--blanco-claro);
  font-size: 0.85em;
  padding-top: 55%;
  margin-left: 25%;
  margin-right: -20%; 
  z-index: 21;
}
#eprojects{
  background: var(--blanco-claro);
  padding-bottom: 30px;
}
#eprojects h2{
  font-size: 2.5em;
  margin-top: -20px;
}

#container-projects{
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(3,minmax(300px,auto));
  grid-auto-rows: minmax(500px,auto);
  grid-gap: 30px;
}

#container-projects div{
  background-color: var(--gris-oscuro);
  color: var(--blanco-claro);
  position: relative;
}

#container-projects div div{
  color: var(--blanco-claro);
  background: var(--azul);
  position: absolute;
  right: 30px;
  margin-top: -20px;
  width: 130px;
  text-align: center;
  height: 30px;
  z-index: 1234;
 }
#container-projects div div p{
  margin-top: 8px;
  font-size: 0.85em;
  font-weight: bold;
 }


#container-projects h3{
  margin:30px;
}

#container-projects p{
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
  font-size: 0.85em;
}

#container-projects div div:hover{
  background: var(--blanco-claro);
    color: var(--gris-oscuro);
}
  #container-projects img{
    width: 100%;
  }

#eprojects{
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
}

@media screen and (max-width: 1200px) {
#banner-eprivada{
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns:0.5fr 0.5fr;
  grid-template-rows: minmax(520px,auto);
  grid-gap: 2px;
  grid-auto-rows: 465px;
  position: relative;
}
  #banner-eprivada p{
    color: var(--blanco-claro);
    font-size: 0.85em;
    padding-top: 55%;
    margin-left: 10%;
    margin-right: 10%; 
    z-index: 21;
  }
  #container-projects img{
    width: 50vw;
  }

  #container-projects h3{
  top:30px;
  left: 55%;
  position: absolute;
}

#container-projects p{
  position: absolute;
  top: 120px;
  left: 55%;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
}
  

  #container-projects div div{
  color: var(--blanco-claro);
  background: var(--azul);
  position: absolute;
  right: 30px;
  bottom: 20px;
  width: 130px;
  text-align: center;
  height: 35px;
 }
#container-projects div div p{
  position: absolute;
  top: 0px;
  left: 0px;
 }


  #eprojects{
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 5%;
  }
  #container-projects{
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(1,minmax(500px,auto));
  grid-auto-rows: minmax(300px,auto);
  grid-gap: 6px;
  }

}

@media screen and (max-width: 600px) {
  #banner-eprivada{
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows: minmax(auto,70vh) minmax(auto,50vh);
    grid-gap: 5px;
    grid-auto-rows: minmax(auto,70vh);
  }
  #banner-eprivada p{
    color: var(--blanco-claro);
    font-size: 0.85em;
    padding-top: 55%;
    margin-left: 10%;
    margin-right: 10%; 
    z-index: 21;
  }

    #container-projects h3{
  position: static;
}
#container-projects div div{
  color: var(--blanco-claro);
  background: var(--azul);
  position: absolute;
  right: 30px;
  top: 100vw;
  width: 130px;
  text-align: center;
  height: 30px;
 }
#container-projects div div p{
  margin-top: 8px;
  font-size: 0.9em;
  font-weight: bold;
 }

#container-projects p{
  position: static;

  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
}

  #container-projects img{
    width: 100%;
  }
  #eprojects{
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 5%;
  }
  #container-projects{
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(1,minmax(300px,auto));
  grid-auto-rows: minmax(500px,auto);
  grid-gap: 6px;
  }

}

/* detalles Experiencia privada*/

#banner-pprivado{
  grid-column: 1 / -1;
  background: var(--gris-oscuro);
  height: 45vw;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: -2;
}

#volver-pprivado{
  right: 0px;
  position: absolute;
  background-color: var(--azul);
  color: var(--blanco-claro);
  height: 30px;  
  margin-top: -40vw;
  z-index: 2;
}

#volver-pprivado p{
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bold;  
  margin-top: 5px;
}
#volver-pprivado a{
  text-decoration: none;
  color: var(--blanco-claro);
}

#volver-pprivado:hover{
  background: var(--gris-claro);
}

#descripcion-ppublico a{
  text-decoration: none;
  color: var(--blanco-claro);
}

#nd-pprivado{
  background-color: var(--gris-oscuro);
  margin-top: -50px;
  color: var(--blanco-claro);
}
#nd-pprivado h1{
  font-size: 2.5em;
  margin: 50px;
}
#nd-pprivado h5{
  font-size: 0.9em;
  margin:50px;
}



#ap-pprivado{
  background-color: var(--azul);
    margin-top: -50px;
    color: var(--blanco-claro);
    display: grid;
    grid-template-columns: 0.7fr 0.3fr;
}

#ap-pprivado ul{
  list-style: none;
      font-weight: bold;
      margin-top: 50px;
      margin-left: 20px;
}
#ap-pprivado li{
  margin-bottom: 5px;
}
#ap-pprivado img{
  width: 50%;
}
#content-areas{
  padding-top: 20px;
}
#content-galeria-pprivada{
  background-color: var(--blanco-claro);
  padding-left: 10%;
  padding-right: 10%;  
}

#content-img{
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 240px;
  z-index: 2;
}




#galeria-pprivado{
  padding-top: 30px;
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(3,minmax(28vw,auto));
  grid-template-rows: repeat(3,minmax(28vw,auto));
  grid-auto-rows: minmax(28vw,auto);
  grid-gap: 20px;
  padding-bottom: 20px;
}


.item1 {
  grid-area: 1 / 1 /  2 /  2;
  background-color: blue;
}
.item2 {
  grid-area: span 1 / span 2 / span 1 / span 3;
  background-color: green;
}
.item3 {
  grid-area:  2 / 3 /  4 / 4;
  background-color: blue;
}



#galeria-pprivado div{
  background-color: red;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 1200px) {
#banner-pprivado{
  grid-column: 1 / -1;
  background: var(--gris-oscuro);
  height: 45vw;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: -2;
}

#volver-pprivado{
  right: 0px;
  position: absolute;
  background-color: var(--azul);
  color: var(--blanco-claro);
  height: 30px;  
  margin-top: -40vw;
  z-index: 2;
}

#volver-pprivado p{
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bold;  
  margin-top: 5px;
}
#volver-pprivado a{
  text-decoration: none;
  color: var(--blanco-claro);
}

#volver-pprivado:hover{
  background: var(--gris-claro);
}

#descripcion-ppublico a{
  text-decoration: none;
  color: var(--blanco-claro);
}

#nd-pprivado{
  background-color: var(--gris-oscuro);
  margin-top: -50px;
  color: var(--blanco-claro);
}
#nd-pprivado h1{
  font-size: 2.5em;
  margin: 50px;
}
#nd-pprivado h5{
  font-size: 0.9em;
  margin:50px;
}



#ap-pprivado{
  background-color: var(--azul);
    margin-top: -50px;
    color: var(--blanco-claro);
    display: grid;
    grid-template-columns: 0.7fr 0.3fr;
}

#ap-pprivado ul{
  list-style: none;
      font-weight: bold;
      margin-top: 50px;
      margin-left: 20px;
}
#ap-pprivado li{
  margin-bottom: 5px;
}
#ap-pprivado img{
  width: 50%;
}
#content-areas{
  padding-top: 20px;
}
#content-galeria-pprivada{
  background-color: var(--blanco-claro);
  padding-left: 5%;
  padding-right: 5%;  
}

#content-img{
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2,40vw);
  z-index: 2;
}




#galeria-pprivado{
  padding-top: 30px;
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(4,45vw);
  grid-gap: 20px;
  padding-bottom: 20px;
}


.item1 {
  grid-area: 1 / 1 /  2 /  2;
  background-color: var(--blanco-claro);
}
.item2 {
  grid-area:  1 /  2 /  2 /  3;
  background-color: var(--blanco-claro);
}
.item3 {
  grid-area:  2 / 1 /  3 / 2;
  background-color: var(--blanco-claro);
}
.item4 {
  grid-area: 2 / 2 /  3 /  3;
  background-color: var(--blanco-claro);
}
.item5 {
  grid-area:  3 /  1 /  4 /  3;
  background-color: var(--blanco-claro);
}
.item6 {
  grid-area:  4 / 1 /  5 / 2;
  background-color: var(--blanco-claro);
}
.item7 {
  grid-area:  4 / 2 /  5 / 3;
  background-color: var(--blanco-claro);
}




#galeria-pprivado div{
  background-color: red;
  background-repeat: no-repeat;
  background-size: cover;
}

}

@media screen and (max-width: 600px) {
  #galeria-pprivado{
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows: 100vw ;
    grid-gap: 5px;
    grid-auto-rows: 100vw;
  }
  #content-img{
  padding-left: 0%;
  padding-right: 0%;  
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(200px,auto) minmax(200px,auto);
  grid-auto-rows: minmax(200px,auto);
  grid-gap: 2px;

  }
  #content-galeria-pprivada{
    background-color: var(--blanco-claro);
    padding-left: 1%;
    padding-right: 1%;  
  }
  #nd-pprivado{
    margin-top: -0px;
  }
  #ap-pprivado{
    margin-top: -0px;
  }
  .item1 {
    grid-area: 1 / 1 /  2 /  2;
    background-color: var(--blanco-claro);
  }
  .item2 {
    grid-area:  2 /  1 /  3 /  2;
    background-color: var(--blanco-claro);
  }
  .item3 {
    grid-area:  3 / 1 /  4 / 2;
    background-color: var(--blanco-claro);
  }
  .item4 {
    grid-area: 4 / 1 /  5 /  2;
    background-color: var(--blanco-claro);
  }
  .item5 {
    grid-area:  5 /  1 /  6 /  2;
    background-color: var(--blanco-claro);
  }
  .item6 {
    grid-area:  6 / 1 /  7 / 2;
    background-color: var(--blanco-claro);
  }
  .item7 {
    grid-area:  7 / 1 /  8 / 2;
    background-color: var(--blanco-claro);
  }

}

/* Experiencia Publica */

#banner-ppublica{
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 0.35fr 0.65fr;
  grid-template-rows: 40vw;
  position: relative;
  z-index: -123;
}

#banner-ppublica div{
  background-repeat: no-repeat;
}
#logo-ppublica{
  background-size: 86%;
  background-color: var(--azul);
  z-index: 12;
}

#logo-ppublica h5{
  margin-left: 24%;
  margin-top: 250px;
  margin-right: -10%;
  color: var(--blanco-claro);
}

#banner-ppublica2{
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  background-size: cover;
}

#ppublicos{
  background-repeat: no-repeat;
  background-size: 25vh;
}

#galeria-ppublico{
  grid-column: 1 / -1;
  background-color: var(--gris-oscuro);
  margin-left: 10%;
  margin-right: 10%;
  display: grid;
  grid-template-rows: 200px;
  position: relative;
}
#galeria-ppublico h1{
  color: var(--blanco-claro);
  font-size: 3em;
  margin-top: 100px;
}


#ppublicos{
  grid-column: 1 / -1;
  margin-left: 10%;
  margin-right: 10%;
  display: grid;
  grid-template-columns: repeat(3,0.33fr);
  grid-auto-rows: 25vw;
  /*grid-template-rows: repeat(minmax(1,4),25vw);*/
  grid-gap: 20px;
  padding-bottom: 20px;
}
#ppublicos a{
  text-decoration: none;
  color: var(--blanco-claro)
}

#ppublicos div{
  background-color: var(--blanco-claro); 
  position: relative;
}

#ppublicos div div{
  background-color: var(--azul); 
  position: absolute;
}

.btn-vm{
  background-color: var(--azul);
  color: var(--blanco-claro);
  height: 30px;
  width: 100px;
  bottom: 20px;
  right: 20px;
}

#ppublicos div div:hover{
  background-color: var(--gris-claro);
}



.btn-vm h3{
  font-weight: bold;
  margin-top: 8px;
  text-align: center;
  font-size: 0.9em;
}

.img-v{
  background-repeat: no-repeat;
  background-size: 100% ;
}

.img-h {
  background-repeat: no-repeat;
  background-size: 50%;
}

.img-h h4{
  margin-left: 55%;
  font-size: 1.5em;
  margin-top: 5%;
}
.img-h h5{
  margin-left: 55%;
  margin-right: 5%;
  font-size: 0.85em;
  }

.img-v h4{
  position: absolute;
  font-size: 1.5em;
  top: 55%;
  left: 10%;
  
}
.img-v h5{
  margin-left: 5%;
  margin-right: 5%;
  position: absolute;
  top: 62%;
  left: 5%;
  font-size: 0.85em;
  }

  .item1pp {
    grid-area: 1 / 1 /  2 /  span 2;
  }
  .item2pp {
  grid-area: 2 / 1 /  3 /  span 2;
  }
  .item3pp {
  grid-area: 1 / 3 /  3 /  4;
  }
  .item4pp {
    grid-area: 3 / 1 /  5 /  2;
  }
  .item5pp {
  grid-area: 3 / 2 /  4 /  4;
  }
  .item6pp {
  grid-area: 4 / 2 /  5 /  4;
  }


  #paginator-content{
    grid-column: 1 / -1;
    background: var(--blanco-claro);
    padding-bottom: 30px;
  }
  #paginator{
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30px;
    background-color: var(--gris-oscuro);
    margin-left: 40%;
  }
  @media screen
   and (max-width: 1200px) {
    #banner-ppublica{
      grid-column: 1 / -1;
      display: grid;
      grid-template-columns: 0.5fr 0.5fr;
      grid-template-rows: minmax(auto,auto);
      position: relative;
      z-index: -123;
    }

    #banner-ppublica div{
      background-repeat: no-repeat;
    }
    #logo-ppublica{
      background-size: 86%;
      background-color: var(--azul);
      z-index: 12;
    }

    #logo-ppublica h5{
      margin-left: 10%;
      margin-top: 50%;
      margin-right: 0%;
      color: var(--blanco-claro);
    }

    #banner-ppublica2{
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      background-size: cover;
    }

    #ppublicos{
      background-repeat: no-repeat;
      background-size: 25vh;
    }

    #galeria-ppublico{
      grid-column: 1 / -1;
      background-color: var(--gris-oscuro);
      margin-left: 10%;
      margin-right: 10%;
      display: grid;
      grid-template-rows: 200px;
      position: relative;
    }
    #galeria-ppublico h1{
      color: var(--blanco-claro);
      font-size: 3em;
      margin-top: 100px;
    }


    #ppublicos{
      grid-column: 1 / -1;
      margin-left: 0%;
      margin-right: 0%;
      display: grid;
      grid-template-columns: 1fr;
      /*grid-template-rows: repeat(6,minmax(auto,45vw));*/
      grid-auto-rows: 45vw;
      grid-gap: 20px;
      padding-bottom: 20px;
    }
    #ppublicos a{
      text-decoration: none;
      color: var(--blanco-claro)
    }

    #ppublicos div{
      background-color: var(--blanco-claro); 
      position: relative;
    }

    #ppublicos div div{
      background-color: var(--azul); 
      position: absolute;
    }

    .btn-vm{
      background-color: var(--azul);
      color: var(--blanco-claro);
      height: 30px;
      width: 100px;
      bottom: 20px;
      right: 20px;
    }

    #ppublicos div div:hover{
      background-color: var(--gris-claro);
    }

    #paginator{
      grid-column: 1 / -1;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 30px;
      background-color: var(--gris-oscuro);
      margin-left: 30%;
    }


    .btn-vm h3{
      font-weight: bold;
      margin-top: 8px;
      text-align: center;
      font-size: 0.9em;
    }

    .img-v{
      background-repeat: no-repeat;
      background-size: 50%;
    }

    .img-h {
      background-repeat: no-repeat;
      background-size: 50%;
    }

    .img-h h4{
      margin-left: 55%;
      font-size: 1.5em;
      margin-top: 5%;
    }
    .img-h h5{
      margin-left: 55%;
      margin-right: 5%;
      }

    .img-v h4{
      position: absolute;
      left: 55%;
      top: 10%;
      font-size: 1.5em;
      
    }
    .img-v h5{
      position: absolute;
      left: 50%;
      top: 20%;
      }

      .item1pp {
        grid-area: 1 / 1 /  2 /  2;
      }
      .item2pp {
      grid-area: 2 / 1 /  3 /  2;
      }
      .item3pp {
      grid-area: 3 / 1 /  4 /  2;
      }
      .item4pp {
        grid-area: 4 / 1/  5 /  2;
      }
      .item5pp {
      grid-area: 5 / 1 /  6 /  2;
      }
      .item6pp {
      grid-area: 6 / 1 /  7 /  2;
      }


      #paginator-content{
        grid-column: 1 / -1;
        background: var(--blanco-claro);
        padding-bottom: 30px;
      }
  }


  @media screen and (max-width: 600px) {
    #banner-ppublica{
      grid-column: 1 / -1;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2,minmax(auto,120vw));
      position: relative;
      z-index: -123;
    }

    #paginator{
      grid-column: 1 / -1;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 30px;
      background-color: var(--gris-oscuro);
      margin-left: 15%;
    }

    #banner-ppublica div{
      background-repeat: no-repeat;
    }
    #logo-ppublica{
      background-size: 80%;
      background-color: var(--azul);
      z-index: 12;
    }

    #logo-ppublica h5{
      margin-left: 10%;
      margin-top: 50%;
      margin-right: 0%;
      color: var(--blanco-claro);
    }

    #banner-ppublica2{
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      background-size: cover;
    }



    #galeria-ppublico{
      grid-column: 1 / -1;
      background-color: var(--gris-oscuro);
      margin-left: 10%;
      margin-right: 10%;
      display: grid;
      grid-template-rows: 200px;
      position: relative;
    }
    #galeria-ppublico h1{
      color: var(--blanco-claro);
      font-size: 3em;
      margin-top: 100px;
    }


    #ppublicos{
      grid-column: 1 / -1;
      margin-left: 0%;
      margin-right: 0%;
      display: grid;
      grid-template-columns: 1fr;
      grid-auto-rows: minmax(auto,200vw);
      grid-gap: 20px;
      padding-bottom: 20px;
    }
    #ppublicos a{
      text-decoration: none;
      color: var(--blanco-claro)
    }

    #ppublicos div{
      background-color: var(--blanco-claro); 
      position: relative;
    }

    #ppublicos div div{
      background-color: var(--azul); 
      position: absolute;
    }

    .btn-vm{
      background-color: var(--azul);
      color: var(--blanco-claro);
      height: 30px;
      width: 100px;
      bottom: 20px;
      right: 20px;
    }

    #ppublicos div div:hover{
      background-color: var(--gris-claro);
    }



    .btn-vm h3{
      font-weight: bold;
      margin-top: 8px;
      text-align: center;
      font-size: 0.9em;
    }

    .img-v{
      background-repeat: no-repeat;
      background-size: 100%;
    }

    .img-h {
      background-repeat: no-repeat;
      background-size: 100%;
    }

    .img-h h4{
      position: absolute;
      font-size: 1.5em;
      top: 55%;
      right: 65%;
    }
    .img-h h5{
      margin-left: 5%;
      margin-right: 5%;
      position: absolute;
      top: 63%;
      left: 5%;
      }

    .img-v h4{
      position: absolute;
      font-size: 1.5em;
      top: 55%;
      left: 10%;
      
    }
    .img-v h5{
      margin-left: 5%;
      margin-right: 5%;
      position: absolute;
      top: 63%;
      left: 5%;
      }

      .item1pp {
        grid-area: 1 / 1 /  2 /  2;
      }
      .item2pp {
      grid-area: 2 / 1 /  3 /  2;
      }
      .item3pp {
      grid-area: 3 / 1 /  4 /  2;
      }
      .item4pp {
        grid-area: 4 / 1/  5 /  2;
      }
      .item5pp {
      grid-area: 5 / 1 /  6 /  2;
      }
      .item6pp {
      grid-area: 6 / 1 /  7 /  2;
      }


      #paginator-content{
        grid-column: 1 / -1;
        background: var(--blanco-claro);
        padding-bottom: 30px;
      }

}


/* Detalles expericencia publica */

#banner-ppublico{
  grid-column: 1 / -1;
  background: var(--gris-oscuro);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 45vw;
  background-repeat: no-repeat;
  background-size: cover;
}

#descripcion-ppublico{
  grid-column: 1/ -1;
  background: var(--gris-oscuro);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 215px;
  grid-gap: 2px;
  color: var(--blanco-claro);
  position: relative;
}

#descripcion-ppublico div:hover{
    background: var(--blanco-claro);
}
#descripcion-ppublico div:hover a{
    color: var(--gris-oscuro);
}


#descripcion-ppublico h1{
    font-size: 2.5em;
    margin-left: 10%;
    margin-bottom: 30px;
    height: 50px;
}
#descripcion-ppublico h4{
    font-size: 0.9em;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: -100px;
    padding-bottom: 10px;
}
#descripcion-ppublico div{
  background-color: var(--azul);
  color: var(--blanco-claro);
  height: 30px;
  width: 260px;
  text-align: center;
  padding-bottom: 10px;
  top: 20px;
  right: 0px;
  position: absolute;
}
#descripcion-ppublico div h5{
  margin-top: 3px;
  padding-bottom: 15px;
}




#img-ppublico{
  grid-column: 1 / -1;
  margin-left: 10%;
  margin-right: 10%;
  display: grid;
  grid-template-columns: repeat(3,minmax(1fr,auto));
  grid-template-columns: repeat(3,minmax(28vw,auto));
  grid-auto-rows: minmax(28vw,auto);
  grid-gap: 20px;
}

#img-ppublico div{
  background-repeat: no-repeat;
  background-size: cover;
}

.item1-pu{
  grid-area: 1 / 1 / 2 / 2;
}

.item2-pu{
  grid-area: 1 / 2 / 2 / 4;
}

.item3-pu{
  grid-area: 2 / 1 / 3 / 2;
}

.item4-pu{
  grid-area: 2 / 2 / 3 / 3;
}

.item5-pu{
  grid-area: 2 / 3 / 4 / 4;
}

.item6-pu{
  grid-area: 3 / 1 / 3 / 2;
}

.item7-pu{
  grid-area: 3 / 2 / 4 / 3;
}

@media screen and (max-width: 1200px) {
   #img-ppublico{
      grid-column: 1 / -1;
      margin-left: 5%;
      margin-right: 5%;
      display: grid;
      grid-template-columns: repeat(2,1fr);
      grid-template-rows: repeat(3,minmax(300px,auto));
      grid-auto-rows: minmax(300px,auto);
      grid-gap: 20px;
    }
    #descripcion-ppublico h1{
      font-size: 2.5em;
      margin-left: 10%;
      margin-bottom: 30px;
      margin-top: 50px;
      height: 50px;
    }
    .item1-pu{
      grid-area: 1 / 1 / 2 / 2;
    }

    .item2-pu{
      grid-area: 2 / 1/ 3 / 3;
    }

    .item3-pu{
      grid-area: 1 / 2 / 2 / 3;
    }

    .item4-pu{
      grid-area: 3 / 1/ 4 / 2;
    }

    .item5-pu{
      grid-area: 3 / 2/ 4 / 3;
    }

    .item6-pu{
      grid-area: 4 / 1 / 5 / 2;
    }

    .item7-pu{
      grid-area: 4 / 2 / 5 / 3;
    }
}



@media screen and (max-width: 600px) {
   #img-ppublico{
      grid-column: 1 / -1;
      margin-left: 1%;
      margin-right: 1%;
      display: grid;
      grid-template-columns: repeat(1,1fr);
      grid-template-rows: repeat(7,100vw);
      grid-gap: 20px;
    }
    #descripcion-ppublico h1{
      font-size: 2.5em;
      margin-left: 10%;
      margin-bottom: 30px;
      margin-top: 50px;
      height: 50px;
    }

    #banner-ppublico{
      background-repeat: no-repeat;
      background-size: cover;
    }
    .item1-pu{
      grid-area: 1 / 1 / 2 / 2;
    }

    .item2-pu{
      grid-area: 2 / 1 / 3 / 2;
    }

    .item3-pu{
      grid-area: 3 / 1 / 4 / 2;
    }

    .item4-pu{
      grid-area: 4 / 1 / 5 / 2;
    }

    .item5-pu{
      grid-area: 5 / 1 / 6 / 2;
    }

    .item6-pu{
      grid-area: 6 / 1 / 7 / 2;
    }

    .item7-pu{
      grid-area: 7 / 1 / 8 / 2;
    }
}

/*Busqueda de contratos*/


#barra-navegacion{
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px,auto));
  grid-template-rows: repeat(auto-fit,minmax(100px,100px));
  grid-auto-rows: 100px;
  position: relative;
}

#barra-navegacion div{
  background: var(--azul);
  color: var(--blanco-claro);
}
#barra-navegacion a{
  text-decoration: none;
  color: var(--blanco-claro);
}
#btn-logout{
  border: 1px solid var(--blanco-claro);
  position: absolute;
  right: 10%;
  height: 35px;
  width: 190px;
  margin-top: 30px;
  text-align: center;
}
#btn-logout:hover{
  background: var(--gris-oscuro);
  border: 1px solid var(--gris-oscuro);
}
#btn-logout:hover a{
  color: var(--blanco-claro);
} 
#busqueda input[type=text]{
  width: 25vw;
}
#busqueda input[type=number]{
  width: 25vw;
}
#rango_precios{
 width: 25vw;
 background-color: var(--blanco-oscuro);
 height: 30px; 
}
#estados{
  width: 25vw;
  background-color: var(--blanco-oscuro);
  height: 30px;
}
#municipios{
  width: 25vw;
  background-color: var(--blanco-oscuro);
  height: 30px;
}

#tipoObra{
  width: 25vw;
  text-decoration: none;
  background-color: var(--blanco-oscuro);
  height: 30px;
}


#btn-logout h5{
  margin-top: 5px;
  width: 200px
}

#title-busqueda{
  padding-left:10%;
  font-size: 1.5em;
}

#busqueda{
  grid-column: 1 / -1;
  display: grid;
  margin-right: 10%;
  margin-left: 10%;
  grid-template-columns: repeat(3,minmax(300px,auto));
  grid-template-rows: repeat(1,minmax(350px,auto));
  grid-auto-rows: minmax(350px,auto); 
  color: var(--blanco-claro);
}


#busqueda ul{
  list-style: none;
  margin-top: 50px;
}
#busqueda li{
  padding: 3px;
}


#btn-generar-reporte button{
  float: left;
  border: 1px solid var(--blanco-claro);
  height: 30px;
  width: 150px;
  text-align: center;
  margin: 5px;
  background-color: var(--gris-oscuro);
  color:var(--blanco-claro);
}
#btn-generar-reporte p{
  margin-top: 5px;
  width: 180px;
  margin-left: -24px;
}

#btn-generar-reporte button:hover{
  background: var(--blanco-claro);
  color: var(--gris-oscuro);
}


#btn-buscar button{
  float: left;
  background-color: var(--azul);
  border:1px solid var(--azul);
  height: 31px;
  width: 101px;
  margin: 5px;
  text-align: center;
  color:var(--blanco-claro);
}
#btn-buscar p{
  margin-top: 5px;
}
#btn-buscar button:hover{
  background: var(--blanco-claro);
  color: var(--gris-oscuro);
  border:1px solid var(--blanco-claro);
}


#btn-limpiar button{
  height: 30px;
  background-color: var(--naranja);
  border: 1px solid var(--naranja);
  width: 101px;
  margin-top: 5px;
  margin-left: 165px;
  text-align: center;
  color:var(--blanco-claro);
}
#btn-limpiar p{
  margin-top: 5px;
}

#btn-limpiar button:hover{
  background: var(--blanco-claro);
  color: var(--gris-oscuro);
  border:1px solid var(--blanco-claro);
}

#content-tabla{
  background-color: var(--blanco-oscuro);
  padding-top: 10px;
}
#titulo-tabla{
  grid-column: 1 / -1;
  display: grid;
  margin-right:5%; 
  margin-left: 5%;
  grid-template-columns:0.5fr 0.5fr 2.5fr 0.9fr 0.8fr ; 
  grid-auto-rows: minmax(60px,auto);
}

#titulo-tabla div {
  background-color: var(--gris-oscuro);
  border-right: 1px solid var(--blanco-claro);
  color: var(--blanco-claro);
}
#titulo-tabla h5 {
  text-align: center;
}
#contenido-tabla{
  grid-column: 1 / -1;
  display: grid;
  margin-right:5%; 
  margin-left: 5%;
  grid-template-columns: 0.5fr 0.5fr 2.5fr 0.9fr 0.8fr  ;
  grid-auto-rows: minmax(115px,auto);
}

#contenido-tabla p{
  font-size: 0.9em;
  text-align: center;
  padding: 10px;
}
#contenido-tabla a{
  text-decoration: none;
  color: black;
}


#content-paginator2{
  padding-top: 20px;
  padding-bottom: 20px;
}
/*#contenido-tabla div {
  background-color: var(--blanco-oscuro);
  border:1px solid var(--gris-oscuro);
}*/

.campo1-busqueda{
  border:1px solid var(--gris-oscuro);
}
.campo2-busqueda{
  border:1px solid var(--gris-oscuro);
}
.campo3-busqueda{
  border:1px solid var(--gris-oscuro);
}
.campo4-busqueda{
  border:1px solid var(--gris-oscuro);
}
.campo5-busqueda{
  border:1px solid var(--gris-oscuro);
}
.campo6-busqueda{
  border:1px solid var(--gris-oscuro);
}
.campo7-busqueda{
  border:1px solid var(--gris-oscuro);
}




@media screen and (max-width: 1200px) {
    #busqueda{
      grid-column: 1 / -1;
      display: grid;
      margin-right: 1%;
      margin-left: 1%;
      grid-template-columns: repeat(2,minmax(300px,auto));
      grid-template-rows: repeat(2,minmax(350px,auto));
      grid-auto-rows: minmax(350px,auto); 
    }

    #titulo-tabla{
      grid-column: 1 / -1;
      display: grid;
      margin-right:1%; 
      margin-left: 1%;
      grid-template-columns: repeat(2,1fr);
      grid-template-rows: repeat(3,minmax(20px,auto)); 
      grid-auto-rows: minmax(20px,auto);
      grid-gap: 2px;
    }
    #contenido-tabla{
      grid-column: 1 / -1;
      display: grid;
      margin-right:1%; 
      margin-left: 1%;
      grid-template-columns: repeat(2,1fr);
      grid-template-rows: repeat(3,minmax(20px,auto)); 
      grid-auto-rows: minmax(20px,auto);
      grid-gap: 0px;
    }

    #busqueda input[type=text]{
      width: 40vw;
    }
    #busqueda input[type=number]{
      width: 40vw;
    }
    #estados{
      width: 40vw;
    }
    #municipios{
      width: 40vw;
    }

    #rango_precios{
     width: 40vw;
    }
    #tipoObra{
      width: 40vw;
      text-decoration: none;
      background-color: var(--blanco-claro);
      height: 30px;
    }
    .campo1-busqueda{
      grid-area: 1 / 1 / 2 / 2;
    }
    .campo2-busqueda{
      grid-area: 1 / 2 / 2 / 3;
    }
    .campo3-busqueda{
      grid-area: 2 / 1 / 3 / 4;
    }
    .campo4-busqueda{
      grid-area: 3 / 1 / 4 / 2;
      border-bottom: 5px solid var(--naranja);
    }
    .campo5-busqueda{
      grid-area: 3 / 2 / 4 / 3;
      border-bottom: 5px solid var(--naranja);

    }
}


@media screen and (max-width: 600px) {

    #busqueda{
      grid-column: 1 / -1;
      display: grid;
      margin-right: 1%;
      margin-left: 1%;
      grid-template-columns: repeat(1,minmax(300px,auto));
      grid-template-rows: repeat(auto-fit,minmax(350px,auto));
      grid-auto-rows: minmax(350px,auto); 
    }

    #btn-logout{
      border: 1px solid var(--blanco-claro);
      position: absolute;
      right: 1%;
      height: 35px;
      width: 190px;
      bottom: 1%;
      text-align: center;
    }
    #titulo-tabla{
      grid-column: 1 / -1;
      display: grid;
      margin-right:1%; 
      margin-left: 1%;
      grid-template-columns: repeat(2,1fr);
      grid-template-rows: repeat(3,minmax(20px,auto)); 
      grid-auto-rows: minmax(20px,auto);
      grid-gap: 2px;
    }

    #busqueda input[type=text]{
      width: 80vw;
    }
    #busqueda input[type=number]{
      width: 80vw;
    }
    #estados{
      width: 80vw;
    }
    #municipios{
      width: 80vw;
    }
    #rango_precios{
     width: 80vw;
    }
    #tipoObra{
      width: 80vw;
      text-decoration: none;
      background-color: var(--blanco-claro);
      height: 30px;
    }
    #contenido-tabla{
      grid-column: 1 / -1;
      display: grid;
      margin-right:1%; 
      margin-left: 1%;
      grid-template-columns: repeat(2,1fr);
      grid-template-rows: repeat(3,minmax(20px,auto)); 
      grid-auto-rows: minmax(20px,auto);
      grid-gap: 0px;
    }


    .campo1-busqueda{
      grid-area: 1 / 1 / 2 / 2;
    }
    .campo2-busqueda{
      grid-area: 1 / 2 / 2 / 3;
    }
    .campo3-busqueda{
      grid-area: 2 / 1 / 3 / 4;
    }
    .campo4-busqueda{
      grid-area: 3 / 1 / 4 / 2;
    }
    .campo5-busqueda{
      grid-area: 3 / 2 / 4 / 3;
    }
}



/* Detalles contrato */

#content-detalles-contrato{
  grid-column: 1 / -1;
  background-color: var(--blanco-claro);
  padding-left: 15%;
  padding-right: 15%;
  display: grid;
  grid-auto-rows: minmax(50px,auto);
}

#btn-detalles-contrato{
  grid-column: 1 / -1;
  grid-template-columns: 100%;
  grid-template-rows: 100px;
  grid-auto-rows: 100px;
  height: 100px;
  position: relative;
}

#information-contrato{
  grid-column: 1 / -1;
  background-color: var(--blanco-claro);
  display: grid;
  grid-template-columns: 0.3fr 0.7fr;
  grid-auto-rows: minmax(50px,auto);
  padding-bottom: 20px;
}

.title-detalles{
  color: var(--blanco-claro);
  background-color: var(--gris-oscuro);
  border-bottom: 1px solid var(--gris-claro);
}

.title-detalles h5{
  padding-left: 20%;
}
.contrato-information{
  padding-left: 10%;
  padding-right: 5%;
  background-color: var(--blanco-oscuro);
  border: 1px solid var(--gris-oscuro);
}

#btn-regresar  a{
  text-decoration: none;
  color: var(--blanco-claro);
}

#btn-regresar:hover{
  background: var(--azul);
}

#btn-cerrar-sesion  a{
  text-decoration: none;
  color: var(--gris-oscuro);
}

#btn-cerrar-sesion:hover {
  background: var(--azul);
  border: 1px solid var(--azul);
}
#btn-cerrar-sesion:hover a{
  color: var(--blanco-claro);
}


#btn-regresar{
  background-color: var(--gris-oscuro);
  color: var(--blanco-claro);
  height: 35px;
  width: 250px;
  text-align: center;
  position: absolute;
  right: 220px;
  top: 40px;
}
#btn-regresar h5{
  margin-top: 5px;
}

#btn-cerrar-sesion{
  float: left;
  border: 1px solid var(--gris-oscuro); 
  height: 35px;
  width: 200px;
  position: absolute;
  right: 10px;
  top: 40px;
  text-align: center;
}
#btn-cerrar-sesion h5{
  margin-top: 5px;

}
#information-contrato a{
  text-decoration: none;
  color: var(--azul);
}

#no-file{
  color: var(--naranja);
}

.title-detalles:hover{
  background: var(--azul);
}

@media screen and (max-width: 1200px) {
  #content-detalles-contrato{
  grid-column: 1 / -1;
  background-color: var(--blanco-claro);
  padding-left: 1%;
  padding-right: 1%;
  display: grid;
  grid-auto-rows: minmax(50px,auto);
}
}

@media screen and (max-width: 600px) {
  #content-detalles-contrato{
    grid-column: 1 / -1;
    background-color: var(--blanco-claro);
    padding-left: 1%;
    padding-right: 1%;
    display: grid;
    grid-auto-rows: minmax(50px,auto);
  }


  #information-contrato{
      grid-column: 1 / -1;
    background-color: var(--blanco-claro);
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(50px,auto);
    padding-bottom: 20px;
  }


  #btn-regresar{
    background-color: var(--gris-oscuro);
    color: var(--blanco-claro);
    height: 35px;
    width: 250px;
    text-align: center;
    position: absolute;
    right: 10px;
    top: 10px;
  }
  #btn-regresar h5{
    margin-top: 5px;
  }

  #btn-cerrar-sesion{
    float: left;
    border: 1px solid var(--gris-oscuro); 
    height: 35px;
    width: 250px;
    position: absolute;
    right: 10px;
    top: 50px;
  }
  #btn-cerrar-sesion h5{
    margin-top: 5px;
    text-align: center;
  }

  .title-detalles{
    color: var(--blanco-claro);
    background-color: var(--gris-oscuro);
    border-bottom: 1px solid var(--gris-claro);
  }

  .title-detalles h5{
    padding-left: 10%;
  }
  .contrato-information{
    padding-left: 10%;
    padding-right: 5%;
    background-color: var(--blanco-oscuro);
    border: 1px solid var(--gris-oscuro);
    
  }

}



/* ---------------------------------------------------------- */

/*MI NUEVO HEADER*/



.topnav {
  overflow: hidden;
  background-color: var(--gris-oscuro);
 height: 100px;
}

.topnav h1{
  margin-top: -20px;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 40px 20px;
  text-decoration: none;
  font-weight: bold;
}


.topnav img{
  height: 100px;
  width: 100%;
}

#logo-topnav{
  width: 400px;
  float: left;
}

#redes-h ul {
  margin-top: 0px;
  padding: 0px;
  list-style: none;
  float: left;
}


#h-insta{
  position: absolute;
  top: 20px;
  padding: 0px;
}
#h-fb{
  position: absolute;
  top: 20px;
  padding: 0px;
}
#h-twitter{
  position: absolute;
  top: 20px;
  padding: 0px;

}




#redes-h{
  float: left;
}

#redes-h ul a{
  height: 100px;
  width: 35px;
  text-align: center;
}

#redes-h ul li{
  margin-top: 0px;
  padding-top: 0px;
}

#intranet-h {
  background-color: var(--gris-claro);
  height:30px;
  width: 100px;
  position: absolute;
  text-align: center;
  padding-top: 5px;
  top:70px;
  right: 100px;
}

#intranet-h:hover {
  background-color: var(--blanco-claro);
  color: var(--gris-oscuro);
}

#h2-header{
  margin-top: -10px;
  margin-left: 20px;
  padding: 0px;
}

#exp-header{
  color: var(--blanco-claro);
  font-weight: bold;
  height: 100px;
  float: left;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px; 
  width: 140px;
}
#exp-header:hover{
  color: var(--azul);
  font-weight: bold;
  float: left;
}


#exp-header ul li {
  font-size: 1em;
  display: none;
  width: 160px;
}
#exp-header:hover ul li {
  font-size: 1em;
  display: inline-block;
}


#header-epublica{
  border-bottom: 1px solid #FFF;
  width: 140px;
  margin-left: -70px;
  margin-top: -80px;
  position: absolute;
  z-index: 12312;
}

#header-eprivada{
  height: 60px;
  width: 140px;
  position: absolute;
  z-index: 1231;
  margin-left: -70px;
  margin-top: -140px;
  background-color: var(--gris-oscuro);
}
#header-eprivada p{
  padding-top: 15px;
  padding-bottom: 30px;
}

#header-epublica p{
  padding-top: 10px;
}
#header-epublica:hover, #header-eprivada:hover{
  color: #349CD1;
}

.topnav a:hover {
  color: var(--azul);
}



.topnav .icon {
  display: none;
}

@media screen and (max-width: 1200px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }

  .topnav div:not(:first-child) {display: none;}
  .topnav div.icon {
    float: right;
    display: block;
  }
}





@media screen and (max-width: 1200px) {
  .topnav.responsive {
    position: relative;
    height: 400px;
    float: none;
  }

#menu-responsive{
  position: absolute;
  top: 40px;
  right: 20px;
}

#header-epublica{
  border-right: 1px solid #FFF;
  border-bottom: 0px solid #FFF;
  width: 140px;
  left: 150px;
  top: 75px;
  height: 30px;
  position: absolute;
  z-index: 12312;
}

#header-eprivada{
  height: 60px;
  width: 140px;
  position: absolute;
  z-index: 1231;
  top: 125px;
  left: 310px;
  height: 30px;
  background-color: var(--gris-oscuro);
}
#header-eprivada p{
  padding-top: 0px;
  padding-bottom: 0px;
}

#header-epublica p{
  margin-left: 55px;
  margin-top: -5px;
}
.topnav a {
  float: none;
  display: block;
  padding: 0px 0px;
}
  #h-inicio{
    position: absolute;
    left: 30px;
    top: 120px;
    height: 30px;
    padding: 0px;

  }
  #h-sobrenosotros{
    position: absolute;
    left: 30px;
    top: 160px;
    height: 30px;
    padding: 0px;
  }
  #exp-header{
    position: absolute;
    left: 30px;
    top: 200px;
    height: 30px;
    padding: 0px;
    width: 100%;
  }
  #h-contacto{
    position: absolute;
    left: 30px;
    top: 240px;
    height: 30px;
    padding: 0px;
  }
  #redes-h{
    position: absolute;
    left: 10px;
    top: 220px;
    padding: 0px;
  }
  #h-insta{
    position: absolute;
    left: 20px;
    top: 40px;
    padding: 0px;
  }
  #h-fb{
    position: absolute;
    left: 70px;
    top: 40px;
    padding: 0px;
  }
  #h-twitter{
    position: absolute;
    left: 120px;
    top: 40px;
    height: 30px;
    padding: 0px;

  }

  #intranet-h {
    top:400px;
    left: 30px;
    top: 330px;
  }
  

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 12321312;
    display: block;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    z-index: 12321312;
  }
    .topnav.responsive div {
    float: none;
    display: block;
    text-align: left;
    z-index: 12321312;
  }


}

@media screen and (max-width: 600px) {
  #logo-topnav{
    width: 80%;
  }

}


/*____________________________________________________________________________*/
/*  paginator  */
/*____________________________________________________________________________*/

.pagination{
  color: var(--blanco-claro);
  font-size: 1.5em;
}
.pagination a{
  text-decoration: none;
}
.pagination-action{
  background: var(--azul);
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.pagination-action:hover{
  background: var(--gris-claro);
}

.pagination-number{
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.pagination-number:hover{
  background: var(--gris-claro);
}

.pagination-number:active{
  background: var(--azul);
  padding-bottom: 6px;
}

.mensaje{
  background-color: var(--naranja);
  color: var(--blanco-claro);
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 50px;
  margin: -50px;
  margin-left: 0px;
  font-size: 1.6em;
  font-weight: bold;
  text-align: left;
}



@media screen and (max-width: 1200px) {
  .mensaje{
    background-color: var(--naranja);
    color: var(--blanco-claro);
    position: absolute;
    z-index: 1;
    width: 50vw;
    height: 50px;
    margin: -50px;
    margin-left: 0px;
    font-size: 1.6em;
    font-weight: bold;
    text-align: left;
  }

  #container-projects div section p{
    position: absolute;
    left: 10px;
    top: 0px;
  }
}

@media screen and (max-width: 600px) {
  .mensaje{
    background-color: var(--naranja);
    color: var(--blanco-claro);
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 50px;
    margin: -50px;
    margin-left: 0px;
    font-size: 1.6em;
    font-weight: bold;
    text-align: left;
  }

  #container-projects div section p{
    position: absolute;
    left: 10px;
    top: 0px;
  }
}