<!DOCTYPE html>
<html lang="es">
{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}


  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    

    <title>Contructora NDAM</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"> 
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
    <link href="{% static 'css/estilo.css' %}" rel="stylesheet">


  </head>

  <body >

<div id="fade" class="fadebox">
  <div  id="contacto" >
    <div id="contacto-logo" style="background-image:url({% static 'img/conctato.png' %}); opacity: 1;"></div>
    <div>
       <form id='formulario' method="post" action="" class="inputContacto" >{% csrf_token %}
        <ul style="text-decoration: none;">
          <li>{% render_field formulario.nombre placeholder="  Nombre" %}</li>
          <li>{% render_field formulario.numero placeholder="  Numero" %}</li>
          <li>{% render_field formulario.correo placeholder="  Correo" %}</li>
          <li>{% render_field formulario.mensaje placeholder=" Mensaje" id="textarea" %}</li>
        </ul>

        <button type="submit" class="btn btn-primary">Enviar</button>
      </form>
      <a href="javascript:hideLightbox();">
        <div id="cerrar-contacto">
          <img src="{% static 'img/cerrarContacto.png' %}">
        </div>
      </a>
    </div>
  </div>
</div>






<div id="fade-login">
  <div id="login">
    <div>
      <img id="img-login" src="{% static 'img/login.png' %}">
    </div>
    <form id='form' method="post" action="" class="loginform">{% csrf_token %}
      <ul style="text-decoration: none;">
        <li>{% render_field form.username placeholder="  Usuario" %}</li>
        <li>{% render_field form.password placeholder="  Contraseña" %}</li>
      </ul>
      <button id="btn-login" type="submit" class="btn btn-primary">INICIAR</button>
    </form>
    <a href="javascript:hideLightboxLogin();">
      <div>
        <img id="cerrar-login" src="{% static 'img/cerrarContacto.png' %}">
      </div>
    </a>
  </div>
</div>



{% include 'includes/header.html' %}  


  {% block content %}
  {% endblock %} 

{% include 'includes/footer.html' %}  
</body>
<script src="{% static 'js/main.js' %}"></script>
</html>
