{% extends 'base.html' %}

{% load widget_tweaks %}


{% block content %}
<div id="barra-navegacion">
    <div id="title-busqueda"><h1>BÚSQUEDA</h1></div>
    <div id="btn-logout">
      <a href="{% url 'logout' %}">
        <h5>CERRAR SESIÓN</h5>
      </a>
    </div>  
</div>                    

<form id="form-busqueda">
<div id="busqueda">
    <div>
      <ul>
        <li>{{ filterqs.form.numero.label_tag }}</li>
        <li>{% render_field filterqs.form.numero class="form-control" %}</li>
        <li>Palabra clave:</li>
        <li>{% render_field filterqs.form.objeto class="form-control" %}</li>
        <li>Fecha de terminación menor a:</li>
        <li>{% render_field filterqs.form.fecha_terminacion_lt class="form-control date-picker" %}</li>
        <li>Fecha de terminación mayor a:</li>
        <li>{% render_field filterqs.form.fecha_terminacion_gt class="form-control date-picker" %}</li>
      </ul>
    </div>
    <div>
      <ul>
        <li>{{ filterqs.form.departamento.label_tag }}</li>
        <li>{% render_field filterqs.form.departamento class="form-control" %}</li>
        <li>{{ filterqs.form.municipio.label_tag }}</li>
        <li>{% render_field filterqs.form.municipio class="form-control" %}</li>
        <li>Valor ejecutado menor a:</li>
        <li>{% render_field filterqs.form.valor_ejecutado_gt class="form-control" %}</li>
        <li>Valor ejecutado mayor a:</li>
        <li>{% render_field filterqs.form.valor_ejecutado_gt class="form-control" %}</li>
      </ul>
    </div>
    <div>
      <ul>
        <li>{{ filterqs.form.year.label_tag }}</li>
        <li>{% render_field filterqs.form.year class="form-control date-picker-year" %}</li>
        <li>{{ filterqs.form.tipo_de_obra.label_tag }}</li>
        <li>{% render_field filterqs.form.tipo_de_obra class="form-control" id="tipo-obra"%}</li>
<!--         <li>{{ filterqs.form.valor.label_tag }}</li>
        <li>{% render_field filterqs.form.valor class="form-control" id="valor" %}</li> -->
        <li>
          <div id="btn-generar-reporte" >
            <button name='pdf' type="submit">
               <h5>GENERAR REPORTE</h5>
            </button>
          </div>
          <div id="btn-buscar">
            <button type="submit" class="btn btn-primary">
              <h5>BUSCAR</h5>
            </button>
          </div>
        </li>
        <li>
          <div id="btn-limpiar">
            <button type="button" onclick="resetform()" class="btn btn-primary">
                <h5> LIMPIAR </h5>
            </button>
          </div>
        </li>
      </ul>
    </div>
</div>
</form>

<div id="content-tabla">
<div id="titulo-tabla">
  <div class="campo1-busqueda"><h5>No.</h5></div>
  <div class="campo2-busqueda"><h5>AÑO</h5></div>
  <div class="campo3-busqueda"><h5>OBJETIVO</h5></div>
  <div class="campo4-busqueda"><h5>VALOR EN SM</h5></div>
  <div class="campo5-busqueda"><h5>CONTRATO</h5></div>
  <div class="campo6-busqueda"><h5>ACTA DE LIQUIDACIÓN</h5></div>
  <div class="campo7-busqueda"><h5>ACTA DE RECIBO FINAL</h5></div>
</div>


{% for contrato in filter %}
  
<div id="contenido-tabla">

  <div class="campo1-busqueda"><p>{{ contrato.numero }}</p></div>
  <div class="campo2-busqueda"><p>{{ contrato.year }}</p></div>
  <div class="campo3-busqueda">
    <p style="text-align: left;">
      <a href="{{ contrato.get_absolute_url }}">
        {{ contrato.objeto }}
      </a>
    </p>
  </div>
  <div class="campo4-busqueda">
    <p>{{ contrato.valor_en_sm_participacion }}  </p>
  </div>
  <div class="campo5-busqueda">
    <p>
      {% if contrato.contrato == '' %}
        No 
      {% else %} 
        Si 
      {% endif %}
    </p>
  </div>
  <div class="campo6-busqueda">
    <p>
      {% if contrato.acta_liquidacion == '' %} 
        No 
      {% else %} 
        Si 
      {% endif %}
    </p>
  </div>
  <div class="campo7-busqueda">
    <p>
      {% if contrato.acta_recibo_final == '' %} 
        No 
      {% else %} 
        Si 
      {% endif %}
    </p>
  </div>

</div>

{% endfor %}

<div id="content-paginator2">
  <div id="paginator">
    
  </div>
</div>
</div>


<!-- 

<div style = "padding: 10; height: 100px;">
  <div class="btm" style = "float: left">
      <button type="submit" class="btn btn-primary">
        <span class="glyphicon glyphicon-search"></span> Buscar
      </button>
      </div>
      <div class="btm" style = "float: left">
        <button name='pdf' type="submit" class="btn btn-primary" >
        <span class="glyphicon "></span> Generar Reporte
      </button>
      </div>
      <div class="btm" style = "float: left">
      <a class="btn btn-primary"  href="{% url 'logout' %}" >cerrar sesion</a>
      </div>
    </div>
</div>



  <table class="table table-bordered" style="border: black solid;">
    <thead style="border: black solid;">
      <tr style="color: #018DAC; text-shadow: 0px 0px;">
        <th style="border: black solid;">Número</th>
        <th style="border: black solid;">Año</th>
        <th style="border: black solid;">Objeto</th>
        <th style="border: black solid;">Valor en SM</th>
        <th style="border: black solid;">Contrato</th>
        <th style="border: black solid;">Acta de liquidación</th>
        <th style="border: black solid;">Acta de Recibo final</th>
      </tr>
    </thead>
    <tbody style="border: black solid; border: black solid;">
      {% for contrato in filter %}
        <tr style="color: gray;text-shadow: 0px 0px;">
          <td style="border: black solid;">{{ contrato.numero }}</td>
          <td style="border: black solid;">{{ contrato.year }}</td>
          <th style="border: black solid;"><a href="{{ contrato.get_absolute_url }}" style="color: gray; text-shadow: 0px 0px;"> {{ contrato.objeto }}</a></th>
          <th style="border: black solid;">{{ contrato.valor_en_sm}}</th>
          <th style="border: black solid;">{% if contrato.contrato == '' %} No {% else %} Si {% endif %}</th>
          <th style="border: black solid;">{% if contrato.acta_liquidacion == '' %} No {% else %} Si {% endif %}</th>
          <th style="border: black solid;">{% if contrato.acta_recibo_final == '' %} No {% else %} Si {% endif %}</th>
        </tr>
      {% empty %}
        <tr>
          <td colspan="5">No data</td>
        </tr>
      {% endfor %}
    </tbody>
  </table> --> 
<!--
{% if filter.has_other_pages %}
    <nav aria-label="Topics pagination" class="mb-4">
      <ul class="pagination">
        {% if filter.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{ filter.previous_page_number }}">Previous</a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <span class="page-link">Previous</span>
          </li>
        {% endif %}

        {% for page_num in filter.paginator.page_range %}
          {% if filter.number == page_num %}
            <li class="page-item active">
              <span class="page-link">
                {{ page_num }}
                <span class="sr-only">(current)</span>
              </span>
            </li>
          {% else %}
            <li class="page-item">
              <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
            </li>
          {% endif %}
        {% endfor %}

        {% if filter.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ filter.next_page_number }}">Next</a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <span class="page-link">Next</span>
          </li>
        {% endif %}
      </ul>
    </nav>
  {% endif %}
-->
<!-- </div> -->

{% endblock %}