{% extends 'base.html' %}

{% load widget_tweaks %}
    {% load static %}

{% block content %}

<div id="content-detalles-contrato" onclick="headerActive('intranet-h')">
  <div id="btn-detalles-contrato">
    <div id="btn-regresar"> <h5><a href="{% url 'busqueda_contratos' %}">< Regresar a Búsqueda </a></h5> </div>
    <div id="btn-cerrar-sesion"> <h5><a href="{% url 'logout' %}">CERRAR SESIÓN</a></h5> </div>
  </div>  
  <div id="information-contrato">
    <div class="title-detalles"><h5>NÚMERO</h5></div>
    <div class="contrato-information"><h5>{{ contrato.numero }}</h5></div>
    <div class="title-detalles"><h5>AÑO</h5></div>
    <div class="contrato-information"><h5>{{ contrato.year }}</h5></div>
    <div class="title-detalles"><h5>NÚMERO EN PROPONENTE</h5></div>
    <div class="contrato-information"><h5>{{ contrato.numero_en_proponente }}</h5></div>
    <div class="title-detalles"><h5>OBJETO</h5></div>
    <div class="contrato-information"><h5>{{ contrato.objeto }}</h5></div>
    <div class="title-detalles"><h5>TIPO DE OBRA</h5></div>
    <div class="contrato-information"><h5>{{ contrato.tipo_de_obra }}</h5></div>
    <div class="title-detalles"><h5>ENTIDAD CONTRATANTE</h5></div>
    <div class="contrato-information"><h5>{{ contrato.entidad_contratante }}</h5></div>
    <div class="title-detalles"><h5>VALOR EJECUTADO</h5></div>
    <div class="contrato-information"><h5>{{ contrato.valor_ejecutado }}</h5></div>
    <div class="title-detalles"><h5>PLAZO EN DIAS</h5></div>
    <div class="contrato-information"><h5>{{ contrato.plazo_en_dias }}</h5></div>
    <div class="title-detalles"><h5>FECHA TERMINACIÓN</h5></div>
    <div class="contrato-information"><h5>{{ contrato.fecha_terminacion }}</h5></div>
    <div class="title-detalles"><h5>VALOR EN SM</h5></div>
    <div class="contrato-information"><h5>{{ contrato.valor_en_sm }}</h5></div>
    <div class="title-detalles"><h5>PORCENTAJE PARTICIPACIÓN</h5></div>
    <div class="contrato-information"><h5>{{ contrato.porcentaje_participacion }}</h5></div>
    <div class="title-detalles"><h5>DEPARTAMENTO</h5></div>
    <div class="contrato-information"><h5>{{ contrato.departamento }}</h5></div>
    <div class="title-detalles"><h5>MUNICIPIO</h5></div>
    <div class="contrato-information"><h5>{{ contrato.municipio }}</h5></div>
    

    {% if user.groups.all.0.name != "Cliente_No_Autorizado" %}
        <div class="title-detalles"><h5>CONTRATO</h5></div>
        <div class="contrato-information">
          <h5>
            {% if contrato.contrato != ''  %}
                <img src="{% static 'img/file.png' %}" height="30vh">&nbsp; 
                <a href="{{ contrato.contrato.url }}">Descargar</a> 
            {% else %}
              <img src="{% static 'img/no-file.png' %}" height="30vh"> &nbsp;
              <span id="no-file"> Archivo no disponible </span>  
            {% endif %}
          </h5>
        </div>
        <div class="title-detalles"><h5>ADICIONAL 1</h5></div>
        <div class="contrato-information">
          <h5>
            {% if contrato.adicional1 != ''  %}
                <img src="{% static 'img/file.png' %}" height="30vh">&nbsp;
                <a href="{{ contrato.adicional1.url }}">Descargar</a>
            {% else %}
                <img src="{% static 'img/no-file.png' %}" height="30vh"> &nbsp;
                <span id="no-file"> Archivo no disponible </span>  
            {% endif %}
          </h5>
        </div>
        <div class="title-detalles"><h5>ADICIONAL 2</h5></div>
        <div class="contrato-information">
          <h5>
            {% if contrato.adicional2 != ''  %}
                <img src="{% static 'img/file.png' %}" height="30vh">&nbsp;            
                <a href="{{ contrato.adicional1.url }}">Descargar</a>
            {% else %}
                <img src="{% static 'img/no-file.png' %}" height="30vh"> &nbsp;
                <span id="no-file"> Archivo no disponible </span>  
            {% endif %}
          </h5>
        </div>
        <div class="title-detalles"><h5>ACTA RECIBO FINAL</h5></div>
        <div class="contrato-information">
          <h5>
            {% if contrato.acta_recibo_final != '' %}
                <img src="{% static 'img/file.png' %}" height="30vh"> &nbsp;
                <a href="{{ contrato.acta_recibo_final.url }}">Descargar</a>
            {% else %}
                <img src="{% static 'img/no-file.png' %}" height="30vh"> &nbsp;
                <span id="no-file"> Archivo no disponible </span>  
            {% endif %}
          </h5>
        </div>
        <div class="title-detalles"><h5>ACTA LIQUIDACION</h5></div>
        <div class="contrato-information">
          <h5>
            {% if contrato.acta_liquidacion != '' %}
                <img src="{% static 'img/file.png' %}" height="30vh"> &nbsp;
                <a href="{{ contrato.acta_liquidacion.url }}">Descargar</a>
            {% else %}
                <img src="{% static 'img/no-file.png' %}" height="30vh"> &nbsp;
                <span id="no-file"> Archivo no disponible </span>  
            {% endif %}
          </h5>
        </div>
        <div class="title-detalles"><h5>CERTIFICACION DE OBRA</h5></div>
        <div class="contrato-information">
          <h5>
            {% if contrato.certificacion_de_obra != '' %}
                <img src="{% static 'img/file.png' %}" height="30vh"> &nbsp;
                <a href="{{ contrato.certificacion_de_obra.url }}">Descargar</a>
            {% else %}
                <img src="{% static 'img/no-file.png' %}" height="30vh"> &nbsp;
                <span id="no-file"> Archivo no disponible </span>            
            {% endif %}
          </h5>
        </div>
        <div class="title-detalles"><h5>CERTIFICACION DIRECTOR</h5></div>
        <div class="contrato-information">
          <h5>
            {% if contrato.certificacion_director != '' %}
                <img src="{% static 'img/file.png' %}" height="30vh"> &nbsp;        
                <a href="{{ contrato.certificacion_director.url }}">Descargar</a>
            {% else %}
                <img src="{% static 'img/no-file.png' %}" height="30vh"> &nbsp;
                <span id="no-file"> Archivo no disponible </span>              
            {% endif %}
          </h5>
        </div>
        <div class="title-detalles"><h5>ACUERDO CONSORCIAL</h5></div>
        <div class="contrato-information">
          <h5>
            {% if contrato.acuerdo_consorcial != '' %}
                <img src="{% static 'img/file.png' %}" height="30vh"> &nbsp;                    
                <a href="{{ contrato.acuerdo_consorcial.url }}">Descargar</a>
            {% else %}
                <img src="{% static 'img/no-file.png' %}" height="30vh"> &nbsp;
                <span id="no-file"> Archivo no disponible </span> 
            {% endif %}
          </h5>
        </div>
    {% else %}
    <div class="title-detalles"><h5>CONTRATO</h5></div>
        <div class="contrato-information">
          <h5>
              <img src="{% static 'img/no-file.png' %}" height="30vh"> &nbsp;
              Usted no está autorizado
          </h5>
        </div>
        <div class="title-detalles"><h5>ADICIONAL 1</h5></div>
        <div class="contrato-information">
          <h5>
              <img src="{% static 'img/no-file.png' %}" height="30vh"> &nbsp;
              Usted no está autorizado
          </h5>
        </div>
        <div class="title-detalles"><h5>ADICIONAL 2</h5></div>
        <div class="contrato-information">
          <h5>
              <img src="{% static 'img/no-file.png' %}" height="30vh"> &nbsp;
              Usted no está autorizado
          </h5>
        </div>
        <div class="title-detalles"><h5>ACTA RECIBO FINAL</h5></div>
        <div class="contrato-information">
          <h5>
              <img src="{% static 'img/no-file.png' %}" height="30vh"> &nbsp;
              Usted no está autorizado
          </h5>
        </div>
        <div class="title-detalles"><h5>ACTA LIQUIDACION</h5></div>
        <div class="contrato-information">
          <h5>
              <img src="{% static 'img/no-file.png' %}" height="30vh"> &nbsp;
              Usted no está autorizado
          </h5>
        </div>
        <div class="title-detalles"><h5>CERTIFICACION DE OBRA</h5></div>
        <div class="contrato-information">
          <h5>
              <img src="{% static 'img/no-file.png' %}" height="30vh"> &nbsp;
              Usted no está autorizado
          </h5>
        </div>
        <div class="title-detalles"><h5>CERTIFICACION DIRECTOR</h5></div>
        <div class="contrato-information">
          <h5>
              <img src="{% static 'img/no-file.png' %}" height="30vh"> &nbsp;
              Usted no está autorizado
          </h5>
        </div>
        <div class="title-detalles"><h5>ACUERDO CONSORCIAL</h5></div>
        <div class="contrato-information">
          <h5>
              <img src="{% static 'img/no-file.png' %}" height="30vh"> &nbsp;
              Usted no está autorizado
          </h5>
        </div>
    {% endif %}
  </div>
</div>

{% endblock %}
<!-- <div class="DivBody">

   

  {% if user.groups.all.0.name != "Cliente_No_Autorizado" %}

      <tr>
        <th>Contrato:</th>
        <td>{% if contrato.contrato != ''  %}<a href="{{ contrato.contrato.url }}">Descargar</a> {% else %} Archivo no disponible {% endif %}</td>
      </tr>
      <tr>
        <th>Adicional 1:</th>
        <td>{% if contrato.adicional1 != ''  %}<a href="{{ contrato.adicional1 }}">Descargar</a>{% else %} Archivo no disponible {% endif %}</td>
      </tr>
      <tr>
        <th>Adicional 2:</th>
        <td>{% if contrato.adicional2 != ''  %}<a href="{{ contrato.adicional2 }}">Descargar</a>{% else %} Archivo no disponible {% endif %}</td>
      </tr>
      <tr>
        <th>Acta recibo final:</th>
        <td>{% if contrato.acta_recibo_final != ''  %}<a href="{{ contrato.acta_recibo_final }}">Descargar</a>{% else %} Archivo no disponible {% endif %}</td>
      </tr>
      <tr>
        <th>Acta liquidacion:</th>
        <td>{% if contrato.acta_liquidacion != ''  %}<a href="{{ contrato.acta_liquidacion }}">Descargar</a>{% else %} Archivo no disponible {% endif %}</td>
      </tr>
      <tr>
        <th>Certificacion de obra:</th>
        <td>{% if contrato.certificacion_de_obra != ''  %}<a href="{{ contrato.certificacion_de_obra }}">Descargar</a>{% else %} Archivo no disponible{% endif %}</td>
      </tr>
      <tr>
        <th>Certificacion director:</th>
        <td>{% if contrato.certificacion_director != ''  %}<a href="{{ contrato.certificacion_director }}">Descargar</a>{% else %}Archivo no disponible {% endif %}</td>
      </tr>
      <tr>
        <th>Acuerdo consorcial:</th>
        <td>{% if contrato.acuerdo_consorcial != ''  %}<a href="{{ contrato.acuerdo_consorcial }}">Descargar</a>{% else %} Archivo no disponible {% endif %}</td>
      </tr>

  {% else %}

      <tr>
        <th>Contrato:</th>
        <td>No esta autorizado para descargar</td>
      </tr>
      <tr>
        <th>Adicional 1:</th>
        <td>No esta autorizado para descargar</td>
      </tr>
      <tr>
        <th>Adicional 2:</th>
        <td>No esta autorizado para descargar</td>
      </tr>
      <tr>
        <th>Acta recibo final:</th>
        <td>No esta autorizado para descargar</td>
      </tr>
      <tr>
        <th>Acta liquidacion:</th>
        <td>No esta autorizado para descargar</td>
      </tr>
      <tr>
        <th>Certificacion de obra:</th>
        <td>No esta autorizado para descargar</td>
      </tr>
      <tr>
        <th>Certificacion director:</th>
        <td>No esta autorizado para descargar</td>
      </tr>
      <tr>
        <th>Acuerdo consorcial:</th>
        <td>No esta autorizado para descargar</td>
      </tr>
        

  {% endif %}

</table>

</div>

 -->