{% extends 'base.html' %}

{% load widget_tweaks %}

{% block content %}

<div id="content-detalles-contrato">
  <div id="btn-detalles-contrato">
    <div id="btn-regresar"> <h4> < Regresar a Búsqueda</h4> </div>
    <div id="btn-cerrar-sesion"> <h4> CERRAR SESIÓN</h4> </div>
  </div>  
  <div id="information-contrato">
    <div class="title-detalles"><h5>NÚMERO</h5></div>
    <div class="contrato-information"><h5>{{ contrato.numero }}</h5></div>
    <div class="title-detalles"><h5>AÑO</h5></div>
    <div class="contrato-information"><h5>{{ contrato.year }}</h5></div>
    <div class="title-detalles"><h5>NÚMERO EN PROPONENTE</h5></div>
    <div class="contrato-information"><h5>{{ contrato.numero_en_proponente }}</h5></div>
    <div class="title-detalles"><h5>OBJETO</h5></div>
    <div class="contrato-information"><h5>{{ contrato.objeto }}</h5></div>
    <div class="title-detalles"><h5>TIPO DE OBRA</h5></div>
    <div class="contrato-information"><h5>{{ contrato.tipo_de_obra }}</h5></div>
    <div class="title-detalles"><h5>ENTIDAD CONTRATANTE</h5></div>
    <div class="contrato-information"><h5>{{ contrato.entidad_contratante }}</h5></div>
    <div class="title-detalles"><h5>VALOR EJECUTADO</h5></div>
    <div class="contrato-information"><h5>{{ contrato.valor_ejecutado }}</h5></div>
    <div class="title-detalles"><h5>PLAZO EN DIAS</h5></div>
    <div class="contrato-information"><h5>{{ contrato.plazo_en_dias }}</h5></div>
    <div class="title-detalles"><h5>FECHA TERMINACIÓN</h5></div>
    <div class="contrato-information"><h5>{{ contrato.fecha_terminacion }}</h5></div>
    <div class="title-detalles"><h5>VALOR EN SM</h5></div>
    <div class="contrato-information"><h5>{{ contrato.valor_en_sm }}</h5></div>
    <div class="title-detalles"><h5>PORCENTAJE PARTICIPACIÓN</h5></div>
    <div class="contrato-information"><h5>{{ contrato.porcentaje_participacion }}</h5></div>
    <div class="title-detalles"><h5>VALOR EN SM PARTICIPACIÓN</h5></div>
    <div class="contrato-information"><h5>{{ contrato.valor_en_sm_participacion }}</h5></div>
    <div class="title-detalles"><h5>DEPARTAMENTO</h5></div>
    <div class="contrato-information"><h5>{{ contrato.departamento }}</h5></div>
    <div class="title-detalles"><h5>MUNICIPIO</h5></div>
    <div class="contrato-information"><h5>{{ contrato.municipio }}</h5></div>
    <div class="title-detalles"><h5>CONTRATO</h5></div>
    <div class="contrato-information"><h5>asd</h5></div>
    <div class="title-detalles"><h5>ADICIONAL 1</h5></div>
    <div class="contrato-information"><h5>das</h5></div>
    <div class="title-detalles"><h5>ACTA RECIBO FINAL</h5></div>
    <div class="contrato-information"><h5>asd</h5></div>
    <div class="title-detalles"><h5>ACTA LIQUIDACION</h5></div>
    <div class="contrato-information"><h5>ada</h5></div>
    <div class="title-detalles"><h5>CERTIFICACION DE OBRA</h5></div>
    <div class="contrato-information"><h5>ads</h5></div>
    <div class="title-detalles"><h5>CERTIFICACION DIRECTOR</h5></div>
    <div class="contrato-information"><h5>sd</h5></div>
    <div class="title-detalles"><h5>ACUERDO CONSORCIAL</h5></div>
    <div class="contrato-information"><h5>ads</h5></div>
  </div>
</div>

{% endblock %}
<!-- <div class="DivBody">

    <th>Numero en proponente:</th>
    <td></td>
  </tr>
  <tr>
    <th>Objeto:</th>
    <td></td>
  </tr>
  <tr>
    <th>Tipo de obra:</th>
    <td></td>
  </tr>
  <tr>
    <th>Entidad contratante:</th>
    <td></td>
  </tr>
  <tr>
    <th>Valor ejecutado:</th>
    <td></td>
  </tr>
  <tr>
    <th>Plazo en dias:</th>
    <td></td>
  </tr>
  <tr>
    <th>Fecha terminación:</th>
    <td></td>
  </tr>
  <tr>
    <th>Valor en sm:</th>
    <td></td>
  </tr>
  <tr>
    <th>Porcentaje participación:</th>
    <td></td>
  </tr>
  <tr>
    <th>Valor en sm participación:</th>
    <td></td>
  </tr>
  <tr>
    <th>Departamento:</th>
    <td></td>
  </tr>
  <tr>
    <th>Municipio:</th>
    <td></td>
  </tr>

  

  {% if user.groups.all.0.name != "Cliente_No_Autorizado" %}

      <tr>
        <th>Contrato:</th>
        <td>{% if contrato.contrato != ''  %}<a href="{{ contrato.contrato.url }}">Descargar</a> {% else %} Archivo no disponible {% endif %}</td>
      </tr>
      <tr>
        <th>Adicional 1:</th>
        <td>{% if contrato.adicional1 != ''  %}<a href="{{ contrato.adicional1 }}">Descargar</a>{% else %} Archivo no disponible {% endif %}</td>
      </tr>
      <tr>
        <th>Adicional 2:</th>
        <td>{% if contrato.adicional2 != ''  %}<a href="{{ contrato.adicional2 }}">Descargar</a>{% else %} Archivo no disponible {% endif %}</td>
      </tr>
      <tr>
        <th>Acta recibo final:</th>
        <td>{% if contrato.acta_recibo_final != ''  %}<a href="{{ contrato.acta_recibo_final }}">Descargar</a>{% else %} Archivo no disponible {% endif %}</td>
      </tr>
      <tr>
        <th>Acta liquidacion:</th>
        <td>{% if contrato.acta_liquidacion != ''  %}<a href="{{ contrato.acta_liquidacion }}">Descargar</a>{% else %} Archivo no disponible {% endif %}</td>
      </tr>
      <tr>
        <th>Certificacion de obra:</th>
        <td>{% if contrato.certificacion_de_obra != ''  %}<a href="{{ contrato.certificacion_de_obra }}">Descargar</a>{% else %} Archivo no disponible{% endif %}</td>
      </tr>
      <tr>
        <th>Certificacion director:</th>
        <td>{% if contrato.certificacion_director != ''  %}<a href="{{ contrato.certificacion_director }}">Descargar</a>{% else %}Archivo no disponible {% endif %}</td>
      </tr>
      <tr>
        <th>Acuerdo consorcial:</th>
        <td>{% if contrato.acuerdo_consorcial != ''  %}<a href="{{ contrato.acuerdo_consorcial }}">Descargar</a>{% else %} Archivo no disponible {% endif %}</td>
      </tr>

  {% else %}

      <tr>
        <th>Contrato:</th>
        <td>No esta autorizado para descargar</td>
      </tr>
      <tr>
        <th>Adicional 1:</th>
        <td>No esta autorizado para descargar</td>
      </tr>
      <tr>
        <th>Adicional 2:</th>
        <td>No esta autorizado para descargar</td>
      </tr>
      <tr>
        <th>Acta recibo final:</th>
        <td>No esta autorizado para descargar</td>
      </tr>
      <tr>
        <th>Acta liquidacion:</th>
        <td>No esta autorizado para descargar</td>
      </tr>
      <tr>
        <th>Certificacion de obra:</th>
        <td>No esta autorizado para descargar</td>
      </tr>
      <tr>
        <th>Certificacion director:</th>
        <td>No esta autorizado para descargar</td>
      </tr>
      <tr>
        <th>Acuerdo consorcial:</th>
        <td>No esta autorizado para descargar</td>
      </tr>
        

  {% endif %}

</table>

</div>

 -->