{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- <section id="content" class='content-grid'>
 -->  <div id='banner'>
    <img src="{{ banner.2.img_principal.url }}" width="100%;" >
  </div>
  <div id="projects" class="projects-grid" >
    <div style="background:#383839;">
      <img src="{% static 'img/logo3.png' %}" width="100%" style="margin-top: -30px;" >    
    </div>
    <div class="projects-item">
        <img src="{{ projects.0.img_minatura.url }}" width="100%" >
        <h3>{{ projects.0.nombre }}</h3>
        <p>{{ projects.0.descripcion }}</p>
        <div id="project-btn" style="background-color: #349CD1; margin-bottom: 50px;">VER MÁS</div>
    </div>
    <div class="projects-item">
        <img src="{{ projects.1.img_minatura.url }}" width="100%" >
        <h3>{{ projects.1.nombre }}</h3>
        <p>{{ projects.1.descripcion }}</p>
        <div id="project-btn" style="background-color: #349CD1; margin-bottom: 50px;">VER MÁS</div>
    </div>
    <div class="projects-item">
        <img src="{{ projects.2.img_minatura.url }}" width="100%" >
        <h3>{{ projects.2.nombre }}</h3>
        <p>{{ projects.2.descripcion }}</p>
        <div id="project-btn" style="background-color: #349CD1; margin-bottom: 50px;">VER MÁS</div>
    </div>
  </div>
<!-- </section> -->




<!-- 
<div id="banner" style="background-image: url({{ banner.2.img_principal.url }})">
  <a href="" title=""><div id="bannerL"><img src="{% static 'img/bannerL.png' %}" alt="" width="40px" height="40px"> </div></a>
  <div  id="textobanner">
    <img src="{% static 'img/textobanner.png' %}" alt="" width="350px">
    <a href="" title="" class="nounderline"><div id=vermasbanner> <p>VER MÁS</p> </div></a>
  </div>
  <a href="" title=""><div id="bannerR"><img src="{% static 'img/bannerR.png' %}" alt="" width="40px" height="40px"> </div></a>
</div>

<section id="proyectosenventa">
  <div id=proyectos>
    <article id="logo3">
      <img src="{% static 'img/logo3.png' %}" alt="" width="310px">
    </article>
    <article id="proyecto1">
      <img src="{{ projects.1.img_minatura.url }}" width="285px" alt="">
      <h3>{{ projects.1.nombre }}</h3><br>
      <p>{{ projects.1.descripcion }}</p>
      <a href="" class="nounderline"><div id='b1'><p>VER MÁS</p></div></a>
    </article>
    <article id="proyecto2">
            <img src="{{ projects.0.img_minatura.url }}" width="285px" alt="">
            <h3>{{ projects.0.nombre }}</h3><br>
            <p>{{ projects.0.descripcion }}</p>
            <a href="" class="nounderline"><div id='b1'><p>VER MÁS</p></div></a>
    </article>
    <article id="proyecto3">
            <img src="{{ projects.2.img_minatura.url }}" width="285px" alt="">
            <h3>{{ projects.2.nombre }}</h3><br>
            <p>{{ projects.2.descripcion }}</p>
            <a href="" class="nounderline"><div id='b1'><p>VER MÁS</p></div></a>
    </article>
  </div>
</section> -->



{% endblock %}
 