{% extends 'base.html' %}

{% load static %}

{% block content %}

<div id="home-banner" class="w3-display-container">
    <img class="mySlides" src="{{ banner.0.img_principal.url }}" style="width:100%">
    <img class="mySlides" src="{{ banner.1.img_principal.url }}" style="width:100%">
    <img class="mySlides" src="{{ banner.2.img_principal.url }}" style="width:100%">
    <button class="btn-banner-slide w3-display-left"  onclick="plusDivs(-1)">&#10094;</button>
    <button  class="btn-banner-slide w3-display-right" onclick="plusDivs(1)" >&#10095;</button>
    <img class="text-banner" src="{% static 'img/textobanner.png' %}">
    <div >
        <a href="{{ banner.2.get_absolute_url}} ">
            <p>VER MÁS </p>
        </a>
    </div>
</div>

  </div>
  <div id="projects" class="projects-grid" >
    <div style="background:#383839;">
      <img src="{% static 'img/logo3.png' %}" width="100%" style="margin-top: -30px;" >    
    </div>
    <div class="projects-item">
        <img src="{{ projects.0.img_minatura.url }}" width="100%" >
        <h3>{{ projects.0.nombre }}</h3>
        <p>{{ projects.0.descripcion }}</p>
        <div class="project-btn"><a href="{{ projects.0.get_absolute_url }}"><p>VER MÁS</p></a></div>
    </div>
    <div class="projects-item">
        <img src="{{ projects.1.img_minatura.url }}" width="100%" >
        <h3>{{ projects.1.nombre }}</h3>
        <p>{{ projects.1.descripcion }}</p>
        <div class="project-btn"><a href="{{ projects.1.get_absolute_url }}"><p>VER MÁS</p></a></div>
    </div>
    <div class="projects-item">
        <img src="{{ projects.2.img_minatura.url }}" width="100%" >
        <h3>{{ projects.2.nombre }}</h3>
        <p>{{ projects.2.descripcion }}</p>
        <div class="project-btn"><a href="{{ projects.2.get_absolute_url }}"><p>VER MÁS</p></a></div>
    </div>
  </div>

{% endblock %}
 