{% extends 'base.html' %}


{% block content %}

<style type="text/css" media="screen">
    h1 {
    color: #fff;
    text-align: center;
    }

    /*Estilos de la galeria*/

    .galeria {
        width: 90%;
        margin: auto;
        list-style: none;
        padding: 20px;
        box-sizing: border-box;
        
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .galeria li {
        margin: 5px;
    }

    .galeria img {
        width: 150px;
        height: 100px;
    }

    /*Estilos del modal*/

    .modal {
        display: none;
    }

    .modal:target {
        
        display: block;
        position: fixed;
        background: rgba(0,0,0,0.8);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .modal h3 {
        color: #fff;
        font-size: 30px;
        text-align: center;
        margin: 15px 0;
    }

    .imagen {
        width: 100%;
        height: 50%;
        
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .imagen a {
        color: #fff;
        font-size: 40px;
        text-decoration: none;
        margin: 0 10px;
    }

    .imagen a:nth-child(2) {
        margin: 0;
        height: 100%;
        flex-shrink: 2;
    }

    .imagen img {
        width: 500px;
        height: 100%;
        max-width: 100%;
        border: 7px solid #fff;
        box-sizing: border-box;
    }

    .cerrar {
        display: block;
        background: #fff;
        width: 25px;
        height: 25px;
        margin: 15px auto;
        text-align: center;
        text-decoration: none;
        font-size: 25px;
        color: #000;
        padding: 5px;
        border-radius: 50%;
        line-height: 25px;
    }
</style>



<img src="{{ pPrivado.img_principal.url }}" width="100%" height="500px" ; alt="">
<div class="container" style="padding-top: 20px;">
  <h1 style="color:#018DAC;">{{ pPrivado.nombre }}</h1>
  <div style="text-align: justify; padding-top: 20px;">
    <h5 style="color:gray; text-shadow: 0px 0px;">{{ pPrivado.descripcion }}</h5>
  </div>


  <div style="float:left; width: 50%">
        <ul class="galeria" style="float: left;">
        {% if pPrivado.img1 != '' %}
            <li><a href="#img1"><img src="{{ pPrivado.img1.url }}" width="200" height="100" alt=""></a></li>
        {% endif %}
        {% if pPrivado.img2 != '' %}
            <li><a href="#img2"><img src="{{ pPrivado.img2.url }}" width="200" height="100" alt=""></a></li>
        {% endif %}
        {% if pPrivado.img3 != '' %}
            <li><a href="#img3"><img src="{{ pPrivado.img3.url }}" width="200" height="100" alt=""></a></li>
        {% endif %}
        {% if pPrivado.img4 != '' %}
            <li><a href="#img4"><img src="{{ pPrivado.img4.url }}" width="200" height="100" alt=""></a></li>
        {% endif %}
        {% if pPrivado.img5 != '' %}
            <li><a href="#img5"><img src="{{ pPrivado.img5.url }}" width="200" height="100" alt=""></a></li>
        {% endif %}
        {% if pPrivado.img6 != '' %}
            <li><a href="#img6"><img src="{{ pPrivado.img6.url }}" width="200" height="100" alt=""></a></li>
        {% endif %}
        {% if pPrivado.img7 != '' %}
            <li><a href="#img7"><img src="{{ pPrivado.img7.url }}" width="200" height="100" alt=""></a></li>
        {% endif %}
        {% if pPrivado.img8 != '' %}
            <li><a href="#img8"><img src="{{ pPrivado.img8.url }}" width="200" height="100" alt=""></a></li>
        {% endif %}
        {% if pPrivado.img9 != '' %}
            <li><a href="#img9"><img src="{{ pPrivado.img9.url }}" width="200" height="100" alt=""></a></li>
        {% endif %}
        {% if pPrivado.img10 != '' %}
            <li><a href="#img10"><img src="{{ pPrivado.img10.url }}" width="200" height="100" alt=""></a></li>
        {% endif %}
    </ul>

  </div>

  <div style="float: left; width: 40%; text-align: justify; padding-top: 30px; color:gray;text-shadow: 0px 0px;" ><p>Vitae elementum curabitur vitae nunc sed velit dignissim. Bibendum at varius vel pharetra vel turpis nunc eget lorem. Egestas fringilla phasellus faucibus scelerisque eleifend donec pretium vulputate. Nibh cras pulvinar mattis nunc sed. Mattis enim ut tellus elementum.

Vitae auctor eu augue ut lectus arcu bibendum. Turpis egestas integer eget aliquet nibh praesent tristique magna. Vel pretium lectus quam id leo in. Eu volutpat odio facilisis mauris sit amet massa vitae. Hac habitasse platea dictumst quisque sagittis purus sit amet. Morbi tristique senectus et netus et malesuada fames. Sit amet nulla facilisi morbi tempus iaculis urna id volutpat. Diam ut venenatis tellus in metus vulputate eu. Iaculis at erat pellentesque adipiscing. Pellentesque habitant morbi tristique senectus et netus et malesuada fames.

Vitae auctor eu augue ut lectus arcu bibendum. Turpis egestas integer eget aliquet nibh praesent tristique magna. Vel pretium lectus quam id leo in. Eu volutpat odio facilisis mauris sit amet massa vitae. Hac habitasse platea dictumst quisque sagittis purus sit amet. Morbi tristique senectus et netus et malesuada fames. Sit amet nulla facilisi morbi tempus iaculis urna id <volutpat class=""></volutpat></p></div>

</div>


{% endblock %}