{% extends 'base.html' %}
{% load static %}


{% block content %}


<div id='bannerEpu'>
  <div id="imgPu">
        <img src="{% static 'img/experienciaprivada.png' %}" alt="">
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.</p>
  </div>
  <div id="bannerPu">
      <img src="https://images.pexels.com/photos/186077/pexels-photo-186077.jpeg?cs=srgb&dl=architecture-building-driveway-186077.jpg&fm=jpg" alt="asdas" >;
  </div>

</div>


<div id='divcar'>

  <h1>PROYECTOS EN VENTA</h1>
 <section id="pcard" class="grid">
    <ul>
      {% for proyecto in pPrivado %}
      <li>
        <a href="{{ proyecto.get_absolute_url }}" class="nounderline">
        <div class="card">
          <img src="{{ proyecto.img_minatura.url }}" alt="">
          <div class="card-content">
            <h3 class="card-title">{{ proyecto.nombre }}</h3>
            <p>{{ proyecto.descripcion }}</p>
          </div>
        </div>
        </a>
      </li>
    </ul>
    {% endfor %}
  </section>
</div>

<div style="background-color:#383839; width: 1353px; height: 100px; float: left;">
</div>

{% endblock %}