{% extends 'base.html' %}


{% block content %}

<div id='banner-ppublica'>
  <div>
    logo 
  </div>
  <div>
    img 
  </div>
</div>

<div id='galeria-ppublico'>
  GALERIA
</div>

<div id="ppublicos">
  <div class="item1pp">asd</div>
  <div class="item2pp">asd</div>
  <div class="item3pp">ads</div>
  <div class="item4pp">sd</div>
  <div class="item5pp">sd</div>
  <div class="item6pp">a</div>
</div>
<div id='paginator'>
  
</div>





<!-- 
<div class="container marketing" style="margin-top: 100px;">

      <div class="row">
       {% for proyecto in pPublico %}

        <div class="col-lg-4">

          <img class="rounded-circle" src="{{ proyecto.img_minatura.url }}" alt="Generic placeholder image" width="140" height="140">
          <h2>{{ proyecto.nombre }}</h2>
          <p>{{ proyecto.descripcion }}</p>
          <p><a class="btn btn-secondary" href="{{ proyecto.get_absolute_url }}" role="button">View details &raquo;</a></p>
        </div>
        {% endfor %}

      </div>

  </div> -->


{% endblock %}